<div class="demo coursemeal">
    <!-- Meilleur pc 2K-->
    <div class="coursemeal__div ">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
            <source media="(min-width: 767px)" srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
            <source srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
            <img src="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg" alt="Appetizer" >
        </picture>     
        
        <div class="coursemeal-info">
            <a href="<%= customintel_path %>" class="coursemeal-info__link">Refroidissement Custom CPU/GPU <FONT COLOR="#ff0000">Intel</FONT></a>
        </div>
    </div>

    <!-- Meilleur GPU 2K-->
    <div class="coursemeal__div">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source media="(min-width: 767px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <img src="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg" alt="Main Course" >
        </picture> 
        
        <div class="coursemeal-info">          
            <a href="<%= aiointel_path %>" class="coursemeal-info__link">AIO <FONT COLOR="#ff0000">Intel</FONT></a>
        </div>            
    </div>  

    <!-- Meilleur GPU 2K-->
    <div class="coursemeal__div">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source media="(min-width: 767px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <img src="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg" alt="Main Course" >
        </picture> 
        
        <div class="coursemeal-info">          
        <a href="<%= ventiintel_path %>" class="coursemeal-info__link">Ventirad <FONT COLOR="#ff0000">Intel</FONT></a>
        </div>            
    </div>  
</div>    

<div class="demo coursemeal">
    <!-- Meilleur pc 2K-->
    <div class="coursemeal__div ">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
            <source media="(min-width: 767px)" srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
            <source srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
            <img src="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg" alt="Appetizer" >
        </picture>     
        
        <div class="coursemeal-info">
            <a href="<%= customamd_path %>" class="coursemeal-info__link">Refroidissement Custom CPU/GPU <FONT COLOR="#ff0000">AMD</FONT></a>
        </div>
    </div>

    <!-- Meilleur GPU 2K-->
    <div class="coursemeal__div">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source media="(min-width: 767px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <img src="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg" alt="Main Course" >
        </picture> 
        
        <div class="coursemeal-info">          
            <a href="<%= aioamd_path %>" class="coursemeal-info__link">AIO <FONT COLOR="#ff0000">AMD</FONT></a>
        </div>            
    </div>  

    <!-- Meilleur GPU 2K-->
    <div class="coursemeal__div">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source media="(min-width: 767px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <img src="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg" alt="Main Course" >
        </picture> 
        
        <div class="coursemeal-info">          
        <a href="<%= ventiamd_path %>" class="coursemeal-info__link">Ventirad <FONT COLOR="#ff0000">AMD</FONT></a>
        </div>            
    </div>  
</div>    
