
<div class="demo coursemeal">

<!-- 6950 XT-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
        <source media="(min-width: 767px)" srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
        <source srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
        <img src="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= g6950XT_path %>" class="coursemeal-info__link">1. 6950 XT La meilleure</a>
    </div>
</div>

<!-- 6900 XT-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
        <source media="(min-width: 767px)" srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
        <source srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
        <img src="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= g6900XT_path %>" class="coursemeal-info__link">2. 6900 XT</a>
    </div>
</div>

<!-- 3090 TI-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
        <source media="(min-width: 767px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
        <source srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
        <img src="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg" alt="Main Course" >
    </picture> 
    
    <div class="coursemeal-info">          
        <a href="<%= g3090TI_path %>" class="coursemeal-info__link">3. 3090 TI</a>
    </div>            
</div>


</div>    




<div class="demo coursemeal">

<!-- 3090-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://i.pinimg.com/474x/c5/0f/59/c50f59398f83289a415056a923fef567.jpg">
        <source media="(min-width: 767px)" srcset="https://i.pinimg.com/474x/c5/0f/59/c50f59398f83289a415056a923fef567.jpg">
        <source srcset="https://i.pinimg.com/474x/c5/0f/59/c50f59398f83289a415056a923fef567.jpg">
        <img src="https://i.pinimg.com/474x/c5/0f/59/c50f59398f83289a415056a923fef567.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= g3090_path %>" class="coursemeal-info__link">4. 3090</a>
    </div>              
</div>

<!-- 3080 TI-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://media.istockphoto.com/photos/and-computer-chip-concept-picture-id948285004?k=20&m=948285004&s=612x612&w=0&h=l0G7KgIsoKk0So8hZL7hvBYYMebg8Qe6VQJDY4FXSYQ=">
        <source media="(min-width: 767px)" srcset="https://media.istockphoto.com/photos/and-computer-chip-concept-picture-id948285004?k=20&m=948285004&s=612x612&w=0&h=l0G7KgIsoKk0So8hZL7hvBYYMebg8Qe6VQJDY4FXSYQ=">
        <source srcset="https://media.istockphoto.com/photos/and-computer-chip-concept-picture-id948285004?k=20&m=948285004&s=612x612&w=0&h=l0G7KgIsoKk0So8hZL7hvBYYMebg8Qe6VQJDY4FXSYQ=">
        <img src="https://media.istockphoto.com/photos/and-computer-chip-concept-picture-id948285004?k=20&m=948285004&s=612x612&w=0&h=l0G7KgIsoKk0So8hZL7hvBYYMebg8Qe6VQJDY4FXSYQ=" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= g3080TI_path %>" class="coursemeal-info__link">5. 3080 TI</a>
    </div>
</div>

<!-- 6800 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://global.aorus.com/img/rtx/rtx2080_light.jpg">
        <source media="(min-width: 767px)" srcset="https://global.aorus.com/img/rtx/rtx2080_light.jpg">
        <source srcset="https://global.aorus.com/img/rtx/rtx2080_light.jpg">
        <img src="https://global.aorus.com/img/rtx/rtx2080_light.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= g6800XT_path %>" class="coursemeal-info__link">6. 6800 XT</a>
    </div>            
</div>


</div>

<div class="demo coursemeal">

<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://images10.newegg.com/BizIntell/item/Memory/Memory%20(Desktop%20Memory)/20-374-267/2c3.jpg">
        <source media="(min-width: 767px)" srcset="https://images10.newegg.com/BizIntell/item/Memory/Memory%20(Desktop%20Memory)/20-374-267/2c3.jpg">
        <source srcset="https://images10.newegg.com/BizIntell/item/Memory/Memory%20(Desktop%20Memory)/20-374-267/2c3.jpg">
        <img src="https://images10.newegg.com/BizIntell/item/Memory/Memory%20(Desktop%20Memory)/20-374-267/2c3.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= g3080_path %>" class="coursemeal-info__link">7. 3080</a>
    </div>              
</div>

<!-- 6800-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.malekal.com/wp-content/uploads/carte-mere-ROG.jpg">
        <source media="(min-width: 767px)" srcset="https://www.malekal.com/wp-content/uploads/carte-mere-ROG.jpg">
        <source srcset="https://www.malekal.com/wp-content/uploads/carte-mere-ROG.jpg">
        <img src="https://www.malekal.com/wp-content/uploads/carte-mere-ROG.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= g6800_path %>" class="coursemeal-info__link">8. 6800</a>
    </div>
</div>

<!-- 3070 TI-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.asrock.com/mb/features/B550%20Taichi-1.jpg">
        <source media="(min-width: 767px)" srcset="https://overclocking.com/wp-content/medias/2022/02/godlike-min.jpg">
        <source srcset="https://overclocking.com/wp-content/medias/2022/02/godlike-min.jpg">
        <img src="https://www.asrock.com/mb/features/B550%20Taichi-1.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mbIntel_path %>" class="coursemeal-info__link">9. 3070 TI</a>
    </div>            
</div>


</div>

<div class="demo coursemeal">

<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://pic.clubic.com/v1/images/1702845/raw">
        <source media="(min-width: 767px)" srcset="https://image.jeuxvideo.com/medias-crop-1200-675/164431/1644314451-4959-card.jpg">
        <source srcset="https://image.jeuxvideo.com/medias-crop-1200-675/164431/1644314451-4959-card.jpg">
        <img src="https://pic.clubic.com/v1/images/1702845/raw" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= screen_path %>" class="coursemeal-info__link">10. 3070</a>
    </div>
</div>

<!-- 6700 XT-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.tomshardware.fr/content/uploads/sites/3/2019/10/raijintek-eos-360-1.jpg">
        <source media="(min-width: 767px)" srcset="https://www.tomshardware.fr/content/uploads/sites/3/2019/10/raijintek-eos-360-1.jpg">
        <source srcset="https://www.tomshardware.fr/content/uploads/sites/3/2019/10/raijintek-eos-360-1.jpg">
        <img src="https://www.tomshardware.fr/content/uploads/sites/3/2019/10/raijintek-eos-360-1.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestAIO_path %>" class="coursemeal-info__link">11. 6700 XT</a>
    </div>
</div>

<!-- 3060 TI-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.coolaler.com.tw/image/klevv/c700_rgb_240g/11.jpg">
        <source media="(min-width: 767px)" srcset="https://www.coolaler.com.tw/image/klevv/c700_rgb_240g/11.jpg">
        <source srcset="https://www.coolaler.com.tw/image/klevv/c700_rgb_240g/11.jpg">
        <img src="https://www.coolaler.com.tw/image/klevv/c700_rgb_240g/11.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= bestNVME_path %>" class="coursemeal-info__link">12. 3060 TI</a>
    </div>            
</div>


</div>

<div class="demo coursemeal">

<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.buyster.fr/wp-content/uploads/2019/06/meilleure-alimentation-pc.jpg">
        <source media="(min-width: 767px)" srcset="https://www.buyster.fr/wp-content/uploads/2019/06/meilleure-alimentation-pc.jpg">
        <source srcset="https://www.buyster.fr/wp-content/uploads/2019/06/meilleure-alimentation-pc.jpg">
        <img src="https://www.buyster.fr/wp-content/uploads/2019/06/meilleure-alimentation-pc.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= bestWATT_path %>" class="coursemeal-info__link">13. 6600 XT</a>
    </div>              
</div>

<!-- 3060-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://pic.clubic.com/v1/images/1803160/raw">
        <source media="(min-width: 767px)" srcset="https://pic.clubic.com/v1/images/1803160/raw">
        <source srcset="https://pic.clubic.com/v1/images/1803160/raw">
        <img src="https://pic.clubic.com/v1/images/1803160/raw" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestbox_path %>" class="coursemeal-info__link">14. 3060</a>
    </div>
</div>

<!-- 3050-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://fr.shopping.rakuten.com/photo/1186818830_L.jpg">
        <source media="(min-width: 767px)" srcset="https://fr.shopping.rakuten.com/photo/1186818830_L.jpg">
        <source srcset="https://fr.shopping.rakuten.com/photo/1186818830_L.jpg">
        <img src="https://fr.shopping.rakuten.com/photo/1186818830_L.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mouse_path %>" class="coursemeal-info__link">15. 3050</a>
    </div>            
</div>


</div>
</div>

<div class="demo coursemeal">

<!-- 6700 XT-->
<div class="coursemeal__div ">
    
<picture class="responsive-img">
<source media="(min-width: 992px)" srcset="https://www.59hardware.net/wp-content/uploads/2020/03/meilleur-clavier-gamer.jpg">
<source media="(min-width: 767px)" srcset="https://www.59hardware.net/wp-content/uploads/2020/03/meilleur-clavier-gamer.jpg">
<source srcset="https://www.59hardware.net/wp-content/uploads/2020/03/meilleur-clavier-gamer.jpg">
<img src="https://www.59hardware.net/wp-content/uploads/2020/03/meilleur-clavier-gamer.jpg" alt="Desserts">
</picture>

<div class="coursemeal-info">
<a href="<%= keyboard_path %>" class="coursemeal-info__link">16. 6500</a>
</div>          
</div>

<!-- 3060 TI-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.coolaler.com.tw/image/klevv/c700_rgb_240g/11.jpg">
        <source media="(min-width: 767px)" srcset="https://www.coolaler.com.tw/image/klevv/c700_rgb_240g/11.jpg">
        <source srcset="https://www.coolaler.com.tw/image/klevv/c700_rgb_240g/11.jpg">
        <img src="https://www.coolaler.com.tw/image/klevv/c700_rgb_240g/11.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= bestNVME_path %>" class="coursemeal-info__link">17. 3060 TI</a>
    </div>            
</div>

<!-- 6600 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.buyster.fr/wp-content/uploads/2019/06/meilleure-alimentation-pc.jpg">
        <source media="(min-width: 767px)" srcset="https://www.buyster.fr/wp-content/uploads/2019/06/meilleure-alimentation-pc.jpg">
        <source srcset="https://www.buyster.fr/wp-content/uploads/2019/06/meilleure-alimentation-pc.jpg">
        <img src="https://www.buyster.fr/wp-content/uploads/2019/06/meilleure-alimentation-pc.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= bestWATT_path %>" class="coursemeal-info__link">18. 6600 XT</a>
    </div>              
</div>
</div>

