<div style="text-align:center">
<br></br>
<h1>Le meilleur PC <FONT COLOR="#ff0000">4K MAX FPS</FONT><h1/>
<br></br>
<h2>Benchmark 3090TI VS 6900XT en 4K Low<h2/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/HqfEt_9XTRw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8kWqI6_goB8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br></br>




<div class="demo coursemeal">
<!-- Sapphire TOXIC RX 6950 XT Extreme Edition-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://dlcdnwebimgs.asus.com/files/media/8A4C42BA-774F-4165-B074-A0FF3159A84E/v1/img/kv-cover.png">
        <source media="(min-width: 767px)" srcset="https://dlcdnwebimgs.asus.com/files/media/8A4C42BA-774F-4165-B074-A0FF3159A84E/v1/img/kv-cover.png">
        <source srcset="https://dlcdnwebimgs.asus.com/files/media/8A4C42BA-774F-4165-B074-A0FF3159A84E/v1/img/kv-cover.png">
        <img src="https://dlcdnwebimgs.asus.com/files/media/8A4C42BA-774F-4165-B074-A0FF3159A84E/v1/img/kv-cover.png" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="" class="coursemeal-info__link">1. ASUS ROG STRIX LC RX 6950 XT OC EDITION <FONT COLOR="#ff0000">2565 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="#" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="#" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="#" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 6900 XT-->
<!-- 3090-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://media.ldlc.com/r1600/ld/products/00/05/95/24/LD0005952411.jpg">
        <source media="(min-width: 767px)" srcset="https://media.ldlc.com/r1600/ld/products/00/05/95/24/LD0005952411.jpg">
        <source srcset="https://media.ldlc.com/r1600/ld/products/00/05/95/24/LD0005952411.jpg">
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/95/24/LD0005952411.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= best1080_path %>" class="coursemeal-info__link">1. GIGABYTE AORUS RX 6950 XT Xtreme WaterForce <FONT COLOR="#ff0000">2565 Mhz Attention WATERBLOCK</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>

<!-- 58003D -->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/61Kq99IRdcL._AC_SL1000_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/61Kq99IRdcL._AC_SL1000_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/61Kq99IRdcL._AC_SL1000_.jpg">
        <img src="https://m.media-amazon.com/images/I/61Kq99IRdcL._AC_SL1000_.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= best1080_path %>" class="coursemeal-info__link">2. AMD Ryzen 7 5800X3D </a>
        <h2> Cliquez <a href="https://amzn.to/3yi3KER" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/38ZqTRG" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>           
</div>
</div>    




<div class="demo coursemeal">

<!-- 3080 TI-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/616yD6BhTyL._AC_SL1024_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/616yD6BhTyL._AC_SL1024_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/616yD6BhTyL._AC_SL1024_.jpg">
        <img src="https://m.media-amazon.com/images/I/616yD6BhTyL._AC_SL1024_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="" class="coursemeal-info__link">3. MSI MPG X570 Unify</a>
        <h2> Cliquez <a href="https://amzn.to/3yUqz1S" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3NtwrD1" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3070 TI-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/61Gnse+55dL._AC_SL1065_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/61Gnse+55dL._AC_SL1065_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/61Gnse+55dL._AC_SL1065_.jpg">
        <img src="https://m.media-amazon.com/images/I/61Gnse+55dL._AC_SL1065_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="" class="coursemeal-info__link">4. G.SKILL 16 Go DDR4 Trident Z Royal Silver 4800 MHz CL17</a>
        <h2> Cliquez <a href="https://amzn.to/3N20SAd" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        
        <h2> Cliquez <a href="https://tidd.ly/389OuPL" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Gold Version <a href="https://tidd.ly/3vRfgW7" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3090-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/71fkdV95s2L._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/71fkdV95s2L._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/71fkdV95s2L._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/71fkdV95s2L._AC_SL1500_.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= best1080_path %>" class="coursemeal-info__link">5. GIGABYTE M32U  31.5 4K 144hZ IPS</a>
        <h2> Cliquez <a href="https://amzn.to/37Ux5dP" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3sGVpqu" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3wjTRFf" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3Nj4rlB" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>

<div class="demo coursemeal">



<!-- 3070-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.ekwb.com/shop/media/wysiwyg/EK-AIO-360.png">
        <source media="(min-width: 767px)" srcset="https://www.ekwb.com/shop/media/wysiwyg/EK-AIO-360.png">
        <source srcset="https://www.ekwb.com/shop/media/wysiwyg/EK-AIO-360.png">
        <img src="https://www.ekwb.com/shop/media/wysiwyg/EK-AIO-360.png" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= screen_path %>" class="coursemeal-info__link">6. EK Water Blocks EK-AIO Elite Aurum 360 D-RGB</a>
        <h2> Cliquez <a href="https://amzn.to/37knf4v" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 6700-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/81No5bRrM3L._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/81No5bRrM3L._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/81No5bRrM3L._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/81No5bRrM3L._AC_SL1500_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestAIO_path %>" class="coursemeal-info__link">7. Seasonic PRIME TX-1000 Alimentation 80PLUS Titanium 1000 Watt  </a>
        <h2> Cliquez <a href="https://amzn.to/3kJSrNB" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3sj3l1f" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3060 TI-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://dlcdnimgs.asus.com/websites/global/products/g2Pl47nZaToiPUKg/img/pic_FLEXIBLE_GRAPHICS_a.png">
        <source media="(min-width: 767px)" srcset="https://dlcdnimgs.asus.com/websites/global/products/g2Pl47nZaToiPUKg/img/pic_FLEXIBLE_GRAPHICS_a.png">
        <source srcset="https://dlcdnimgs.asus.com/websites/global/products/g2Pl47nZaToiPUKg/img/pic_FLEXIBLE_GRAPHICS_a.png">
        <img src="https://dlcdnimgs.asus.com/websites/global/products/g2Pl47nZaToiPUKg/img/pic_FLEXIBLE_GRAPHICS_a.png" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= bestNVME_path %>" class="coursemeal-info__link">8. ASUS ROG Strix Helios RGB Boîtier PC gaming </a>
        <h2> Cliquez <a href="https://amzn.to/3KP14kK" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/38Zx4oQ" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3KJHaHX" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3vQm8TR" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>


</div>

<div class="demo coursemeal">


<!-- 3060-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://d3isma7snj3lcx.cloudfront.net/images/deal/30/3050846423/le-ssd-seagate-firecuda-530-compatible-ps5-est-en-reduction-70f6f583.jpg">
        <source media="(min-width: 767px)" srcset="https://d3isma7snj3lcx.cloudfront.net/images/deal/30/3050846423/le-ssd-seagate-firecuda-530-compatible-ps5-est-en-reduction-70f6f583.jpg">
        <source srcset="https://d3isma7snj3lcx.cloudfront.net/images/deal/30/3050846423/le-ssd-seagate-firecuda-530-compatible-ps5-est-en-reduction-70f6f583.jpg">
        <img src="https://d3isma7snj3lcx.cloudfront.net/images/deal/30/3050846423/le-ssd-seagate-firecuda-530-compatible-ps5-est-en-reduction-70f6f583.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= bestWATT_path %>" class="coursemeal-info__link">9. Seagate FireCuda 530, 4 To, 7 300 Mo/s</a>
        <h2> Cliquez <a href="https://amzn.to/38aa6eT" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3FB1ESl" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/37r0axi" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/38WwJ6m" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>

<!-- 6600-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/71MSG+WhW0L._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/71MSG+WhW0L._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/71MSG+WhW0L._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/71MSG+WhW0L._AC_SL1500_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestbox_path %>" class="coursemeal-info__link">10. Logitech G PRO X SUPERLIGHT Souris Gaming sans Fil</a>
        <h2> Cliquez <a href="https://amzn.to/3wfj42C" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3vOkMsz" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3OZUnzv" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3w3MeS2" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3050-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/91m+VXpcfmL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/91m+VXpcfmL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/91m+VXpcfmL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/91m+VXpcfmL._AC_SL1500_.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mouse_path %>" class="coursemeal-info__link">11. Corsair Hydro X Series iCUE XH305i RGB PRO Kit de refroidissement</a>
        <h2> Cliquez <a href="https://amzn.to/3LSTAP5" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

</div>

<div class="demo coursemeal">



<!-- 6500Clavier-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/71eY7u6HO9S._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/71eY7u6HO9S._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/71eY7u6HO9S._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/71eY7u6HO9S._AC_SL1500_.jpg2" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= keyboard_path %>" class="coursemeal-info__link">12. Logitech G915 TKL</a>
        <h2> Cliquez <a href="https://amzn.to/39vTPkE" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>

<!-- 6600-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/61UoB-NSiwL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/61UoB-NSiwL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/61UoB-NSiwL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/61UoB-NSiwL._AC_SL1500_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestbox_path %>" class="coursemeal-info__link">13. ASTRO Gaming A50 Casque sans fil</a>
        <h2> Cliquez <a href="https://amzn.to/3OYnTpo" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href=""" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3050-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/81EN7EsPbNL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/81EN7EsPbNL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/81EN7EsPbNL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/81EN7EsPbNL._AC_SL1500_.jpg2" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mouse_path %>" class="coursemeal-info__link">14. SCUF Manette sans fil </a>
        <h2> Cliquez <a href="https://amzn.to/3FlpVvc" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>


</div>

