<div style="text-align:center">
<br></br>
<h1>Les Meilleurs <FONT COLOR="#ff0000">CPU</FONT><h1/> pour Warzone<h1/>
<br></br>

<div class="demo coursemeal">
<!-- Sapphire TOXIC RX 6900 XT Extreme Edition-->
    <div class="coursemeal__div ">    
        <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/61Kq99IRdcL._AC_SL1000_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/61Kq99IRdcL._AC_SL1000_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/61Kq99IRdcL._AC_SL1000_.jpg">
        <img src="https://m.media-amazon.com/images/I/61Kq99IRdcL._AC_SL1000_.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= best1080_path %>" class="coursemeal-info__link">1. AMD Ryzen 7 5800X3D </a>
        <h2> Cliquez <a href="https://amzn.to/3yi3KER" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/38ZqTRG" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>           
</div>

<!-- 6900 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/71pm7KZ-SWL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/71pm7KZ-SWL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/71pm7KZ-SWL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/71pm7KZ-SWL._AC_SL1500_.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= best1080_path %>" class="coursemeal-info__link">2. Intel Core i9-12900KS  </a>
        <h2> Cliquez <a href="https://amzn.to/3LYkC7J" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3skchDE" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/38bxxo5" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3FrP2N8" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>        
</div>

<!-- 3090-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/51h7XEiU1sL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/51h7XEiU1sL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/51h7XEiU1sL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/51h7XEiU1sL._AC_SL1500_.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= best1080_path %>" class="coursemeal-info__link">3. Intel Core i9-12900K (3.2 GHz / 5.2 GHz) </a>
        <h2> Cliquez <a href="https://amzn.to/3KZh9Eq" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3FpVcxk" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3LYDxiK" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3vRfpca" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>    




<div class="demo coursemeal">

<!-- 3080 TI-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/51h7XEiU1sL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/51h7XEiU1sL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/51h7XEiU1sL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/51h7XEiU1sL._AC_SL1500_.jpg" alt="Appetizer" >
    </picture>     

    <div class="coursemeal-info">
        <a href="<%= bestCPU_path %>" class="coursemeal-info__link">3. Intel Core i9-12900KF <FONT COLOR="#ff0000">Sans IGPU</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3yrwRph" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3KWMvvi" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3P77Ghz" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3LYWQZ1" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 58003D -->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/514VNpfgxIL._AC_SL1040_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/514VNpfgxIL._AC_SL1040_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/514VNpfgxIL._AC_SL1040_.jpg">
        <img src="https://m.media-amazon.com/images/I/514VNpfgxIL._AC_SL1040_.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= best1080_path %>" class="coursemeal-info__link">4. Intel Core i7-12700K </a>
        <h2> Cliquez <a href="https://amzn.to/37qgWfO" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3MQJRJ8" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3MZJzjb" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3KXgO5f" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>           
</div>

<!-- 3080-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/514VNpfgxIL._AC_SL1040_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/514VNpfgxIL._AC_SL1040_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/514VNpfgxIL._AC_SL1040_.jpg">
        <img src="https://m.media-amazon.com/images/I/514VNpfgxIL._AC_SL1040_.jpg" alt="Appetizer" >
    </picture>     

<div class="coursemeal-info">
    <a href="<%= bestCPU_path %>" class="coursemeal-info__link">4. Intel Core i7-12700KF <FONT COLOR="#ff0000">Sans IGPU</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3kS9vkU" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3MYL01d" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3vQWkGZ" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3MW0fbe" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>  
</div>
</div>

<div class="demo coursemeal">

    <!-- 3070 TI-->
        <div class="coursemeal__div ">
        <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/71Ahm5CD6XL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/71Ahm5CD6XL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/71Ahm5CD6XL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/71Ahm5CD6XL._AC_SL1500_.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mbIntel_path %>" class="coursemeal-info__link">5. Intel Core i5-12600K</a>
        <h2> Cliquez <a href="https://amzn.to/3kSQTkC" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3vUxPc5" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3MYhd8N" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3FuC94I" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>             
</div>

<!-- 6700 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/51Kws4ObreL._AC_SL1280_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/51Kws4ObreL._AC_SL1280_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/51Kws4ObreL._AC_SL1280_.jpg">
        <img src="https://m.media-amazon.com/images/I/51Kws4ObreL._AC_SL1280_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="" class="coursemeal-info__link">5. Intel Core i5-12600KF</a>
        <h2> Cliquez <a href="https://amzn.to/3ypLqK2" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3KXAIwZ" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>       
        <h2> Cliquez <a href="https://tidd.ly/3KVz0Mw" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3Fqdb6A" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>         
</div>

<!-- 3070-->
<div class="coursemeal__div ">
    
<picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/616VM20+AzL._AC_SL1384_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/616VM20+AzL._AC_SL1384_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/616VM20+AzL._AC_SL1384_.jpg">
        <img src="https://m.media-amazon.com/images/I/616VM20+AzL._AC_SL1384_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="" class="coursemeal-info__link">6. AMD Ryzen 9 5950X</a>
        <h2> Cliquez <a href="https://amzn.to/3Fp3PIt" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3P6J4Wo" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>       
        <h2> Cliquez <a href="https://tidd.ly/3kPxwJl" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3kNUmkx" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>        

    
</div>
</div>

<div class="demo coursemeal">

<!-- 6700-->
<div class="coursemeal__div ">

<picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/616VM20+AzL._AC_SL1384_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/616VM20+AzL._AC_SL1384_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/616VM20+AzL._AC_SL1384_.jpg">
        <img src="https://m.media-amazon.com/images/I/616VM20+AzL._AC_SL1384_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="" class="coursemeal-info__link">7. AMD Ryzen 9 5900X</a>
        <h2> Cliquez <a href="https://amzn.to/3vVehnQ" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3snWVhn" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3vV3ERT" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3LSGql0" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
    
    
</div>

<!-- 3060 TI-->
<div class="coursemeal__div">

<picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/51Kws4ObreL._AC_SL1280_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/51Kws4ObreL._AC_SL1280_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/51Kws4ObreL._AC_SL1280_.jpg">
        <img src="https://m.media-amazon.com/images/I/51Kws4ObreL._AC_SL1280_.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="" class="coursemeal-info__link">8. Intel Core i5-12500</a>
        <h2> Cliquez <a href="https://amzn.to/38i6LdD" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/39NnRk8" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3kTnd72" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/37viNjC" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>     


    
    
</div>

<!-- 3060-->
<div class="coursemeal__div">

<picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/51ZlEHGHK5L._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/51ZlEHGHK5L._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/51ZlEHGHK5L._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/51ZlEHGHK5L._AC_SL1500_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestAIO_path %>" class="coursemeal-info__link">9. Intel Core i5-12400F  </a>
        <h2> Cliquez <a href="https://amzn.to/3Fth8r9" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3MWhskQ" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/39Qn9CR" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3M105iW" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>

         
    
    
</div>
</div>

<div class="demo coursemeal">

<!-- 6600-->
<div class="coursemeal__div ">
  
<picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/61DYLoyNRWL._AC_SL1384_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/61DYLoyNRWL._AC_SL1384_.jpg">
        <source srcset="hhttps://m.media-amazon.com/images/I/61DYLoyNRWL._AC_SL1384_.jpg">
        <img src="https://m.media-amazon.com/images/I/61DYLoyNRWL._AC_SL1384_.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= bestNVME_path %>" class="coursemeal-info__link">10. AMD Ryzen 7 5800X </a>
        <h2> Cliquez <a href="https://amzn.to/3LVBn3l" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/37x8dIY" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3MYmm0B" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3P6u2Qt" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>   

    
</div>

<!-- 3050-->
<div class="coursemeal__div">
    
<picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/71zCiJZcnTL._AC_SL1384_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/71zCiJZcnTL._AC_SL1384_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/71zCiJZcnTL._AC_SL1384_.jpg">
        <img src="https://m.media-amazon.com/images/I/71zCiJZcnTL._AC_SL1384_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestbox_path %>" class="coursemeal-info__link">11. AMD Ryzen 7 5700X</a>
        <h2> Cliquez <a href="https://amzn.to/3vUB8zV" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3slibEa" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3vVfrjc" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3FqhHlM" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>

         
</div>

<!-- 6500Clavier-->
<div class="coursemeal__div">
    
<picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/61vGQNUEsGL._AC_SL1384_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/61vGQNUEsGL._AC_SL1384_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/61vGQNUEsGL._AC_SL1384_.jpg">
        <img src="https://m.media-amazon.com/images/I/61vGQNUEsGL._AC_SL1384_.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mouse_path %>" class="coursemeal-info__link">12. AMD Ryzen 5 5600X</a>
        <h2> Cliquez <a href="https://amzn.to/3LXOYqS" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3wgcEQy" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3snYnAl" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3yntnUI" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>       

           
</div>
</div>

<div class="demo coursemeal">

<!-- 6600-->
<div class="coursemeal__div ">
    
 <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/51zUfd6acTL._AC_SL1395_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/51zUfd6acTL._AC_SL1395_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/51zUfd6acTL._AC_SL1395_.jpg">
        <img src="https://m.media-amazon.com/images/I/51zUfd6acTL._AC_SL1395_.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= keyboard_path %>" class="coursemeal-info__link">13. AMD Ryzen 5 5600 avec Ventilateur</a>
        <h2> Cliquez <a href="https://amzn.to/3vVfMCu" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3FqdTAM" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>      

    
</div>

<!-- 3050-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/51zUfd6acTL._AC_SL1395_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/51zUfd6acTL._AC_SL1395_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/51zUfd6acTL._AC_SL1395_.jpg">
        <img src="https://m.media-amazon.com/images/I/51zUfd6acTL._AC_SL1395_.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mouse_path %>" class="coursemeal-info__link">14. AMD Ryzen 5 5500 avec Ventilateur</a>
        <h2> Cliquez <a href="https://amzn.to/3LYOeBK" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3FD6fmP" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/37yEi32" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3vZVM1N" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 6500Clavier-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="">
        <source media="(min-width: 767px)" srcset="">
        <source srcset="">
        <img src="" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= keyboard_path %>" class="coursemeal-info__link"></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>

