<div class="demo coursemeal">
<!-- Sapphire TOXIC RX 6900 XT Extreme Edition-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.cowcotland.com/images.php?url=images/news/2022/03/evga-rtx3090ti-1.jpg&t=660">
        <source media="(min-width: 767px)" srcset="https://www.cowcotland.com/images.php?url=images/news/2022/03/evga-rtx3090ti-1.jpg&t=660">
        <source srcset="https://www.cowcotland.com/images.php?url=images/news/2022/03/evga-rtx3090ti-1.jpg&t=660">
        <img src="https://www.cowcotland.com/images.php?url=images/news/2022/03/evga-rtx3090ti-1.jpg&t=660" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= g3090TI_path %>" class="coursemeal-info__link">1. EVGA RTX 3090 Ti FTW3 KINGPIN HYBRID <FONT COLOR="#ff0000">1950 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 6900 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://dlcdnwebimgs.asus.com/files/media/D9B36B3F-3525-4CFD-B339-DBE510F3F347/v1/img/kv-cover.png">
        <source media="(min-width: 767px)" srcset="https://dlcdnwebimgs.asus.com/files/media/D9B36B3F-3525-4CFD-B339-DBE510F3F347/v1/img/kv-cover.png">
        <source srcset="https://dlcdnwebimgs.asus.com/files/media/D9B36B3F-3525-4CFD-B339-DBE510F3F347/v1/img/kv-cover.png">
        <img src="https://dlcdnwebimgs.asus.com/files/media/D9B36B3F-3525-4CFD-B339-DBE510F3F347/v1/img/kv-cover.png" alt="Main Course" >
    </picture> 
    
    <div class="coursemeal-info">          
        <a href="<%= best1440_path %>" class="coursemeal-info__link">1. ASUS ROG STRIX LC RTX 3090 Ti OC <FONT COLOR="#ff0000">1950 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 3090-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://overclocking.com/wp-content/medias/2022/03/galax-RTX-3090-Ti-HOF-OC-LAB-overclocking-4.jpg">
        <source media="(min-width: 767px)" srcset="https://overclocking.com/wp-content/medias/2022/03/galax-RTX-3090-Ti-HOF-OC-LAB-overclocking-4.jpg">
        <source srcset="https://overclocking.com/wp-content/medias/2022/03/galax-RTX-3090-Ti-HOF-OC-LAB-overclocking-4.jpg">
        <img src="https://overclocking.com/wp-content/medias/2022/03/galax-RTX-3090-Ti-HOF-OC-LAB-overclocking-4.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= best1080_path %>" class="coursemeal-info__link">1. GALAX RTX 3090 Ti HOF OC Lab Limited Edition <FONT COLOR="#ff0000">1950 Mhz Attention WATERBLOCK</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>    




<div class="demo coursemeal">

<!-- 3080 TI-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.tomshardware.fr/content/uploads/sites/3/2022/03/intro-41-1024x743.jpg">
        <source media="(min-width: 767px)" srcset="https://www.tomshardware.fr/content/uploads/sites/3/2022/03/intro-41-1024x743.jpg">
        <source srcset="https://www.tomshardware.fr/content/uploads/sites/3/2022/03/intro-41-1024x743.jpg">
        <img src="https://www.tomshardware.fr/content/uploads/sites/3/2022/03/intro-41-1024x743.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestCPU_path %>" class="coursemeal-info__link">1. MSI RTX 3090 Ti SUPRIM X <FONT COLOR="#ff0000">1950 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3LVmJZI" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3yfnzwC" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3LVmH42" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 6800 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://static.gigabyte.com/StaticFile/Image/Global/3c5aaf69a6d0f9f9a6f6674120734201/Product/31273/webp/1000">
        <source media="(min-width: 767px)" srcset="https://static.gigabyte.com/StaticFile/Image/Global/3c5aaf69a6d0f9f9a6f6674120734201/Product/31273/webp/1000">
        <source srcset="https://static.gigabyte.com/StaticFile/Image/Global/3c5aaf69a6d0f9f9a6f6674120734201/Product/31273/webp/1000">
        <img src="https://static.gigabyte.com/StaticFile/Image/Global/3c5aaf69a6d0f9f9a6f6674120734201/Product/31273/webp/1000" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= bestGPU_path %>" class="coursemeal-info__link">2. GIGABYTE AORUS RTX 3090 Ti XTREME WATERFORCE <FONT COLOR="#ff0000">1935 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 3080-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://cdn.wccftech.com/wp-content/uploads/2022/03/Colorful-iGame-GeForce-RTX-3090-Ti-Vulcan-OC-Graphics-Card.png">
        <source media="(min-width: 767px)" srcset="https://cdn.wccftech.com/wp-content/uploads/2022/03/Colorful-iGame-GeForce-RTX-3090-Ti-Vulcan-OC-Graphics-Card.png">
        <source srcset="https://cdn.wccftech.com/wp-content/uploads/2022/03/Colorful-iGame-GeForce-RTX-3090-Ti-Vulcan-OC-Graphics-Card.png">
        <img src="https://cdn.wccftech.com/wp-content/uploads/2022/03/Colorful-iGame-GeForce-RTX-3090-Ti-Vulcan-OC-Graphics-Card.png" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= bestRAM_path %>" class="coursemeal-info__link">3. Colorful iGame RTX 3090 Ti Vulcan OC <FONT COLOR="#ff0000">1920 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>

<div class="demo coursemeal">

<!-- 3070 TI-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://images.evga.com/products/gallery//png/24G-P5-4985-KR_LG_1.png">
        <source media="(min-width: 767px)" srcset="https://images.evga.com/products/gallery//png/24G-P5-4985-KR_LG_1.png">
        <source srcset="https://images.evga.com/products/gallery//png/24G-P5-4985-KR_LG_1.png">
        <img src="https://images.evga.com/products/gallery//png/24G-P5-4985-KR_LG_1.png" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="" class="coursemeal-info__link">3. EVGA RTX 3090 Ti FTW3 ULTRA <FONT COLOR="#ff0000">1920 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3FlpVvc" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 6700 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://images.evga.com/products/gallery/png/24G-P5-4989-KR_LG_1.png">
        <source media="(min-width: 767px)" srcset="https://images.evga.com/products/gallery/png/24G-P5-4989-KR_LG_1.png">
        <source srcset="https://images.evga.com/products/gallery/png/24G-P5-4989-KR_LG_1.png">
        <img src="https://images.evga.com/products/gallery/png/24G-P5-4989-KR_LG_1.png" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mbIntel_path %>" class="coursemeal-info__link">3. EVGA RTX 3090 Ti FTW3 ULTRA HYDRO COPPER <FONT COLOR="#ff0000">1920 Mhz ATTENTION WATERBLOCK</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 3070-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://overclocking.com/wp-content/medias/2022/03/galax-RTX-3090-Ti-HOF-OC-LAB-overclocking-7.jpg">
        <source media="(min-width: 767px)" srcset="https://overclocking.com/wp-content/medias/2022/03/galax-RTX-3090-Ti-HOF-OC-LAB-overclocking-7.jpg">
        <source srcset="https://overclocking.com/wp-content/medias/2022/03/galax-RTX-3090-Ti-HOF-OC-LAB-overclocking-7.jpg">
        <img src="https://overclocking.com/wp-content/medias/2022/03/galax-RTX-3090-Ti-HOF-OC-LAB-overclocking-7.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= screen_path %>" class="coursemeal-info__link">3. GALAX RTX 3090 Ti HOF OC Lab Edition <FONT COLOR="#ff0000">1920 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>
</div>

<div class="demo coursemeal">

<!-- 6700-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://media.ldlc.com/r1600/ld/products/00/05/94/32/LD0005943234.jpg">
        <source media="(min-width: 767px)" srcset="https://media.ldlc.com/r1600/ld/products/00/05/94/32/LD0005943234.jpg">
        <source srcset="https://media.ldlc.com/r1600/ld/products/00/05/94/32/LD0005943234.jpg">
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/94/32/LD0005943234.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestAIO_path %>" class="coursemeal-info__link">3. MSI RTX 3090 Ti GAMING X TRIO <FONT COLOR="#ff0000">1920 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3955yXq" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3kO7wxP" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/39y9Bvk" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3060 TI-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://asset.msi.com/resize/image/global/product/product_1648544950bca8e3a7cb112e04efd2ede2447e17ca.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png">
        <source media="(min-width: 767px)" srcset="https://asset.msi.com/resize/image/global/product/product_1648544950bca8e3a7cb112e04efd2ede2447e17ca.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png">
        <source srcset="https://asset.msi.com/resize/image/global/product/product_1648544950bca8e3a7cb112e04efd2ede2447e17ca.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png">
        <img src="https://asset.msi.com/resize/image/global/product/product_1648544950bca8e3a7cb112e04efd2ede2447e17ca.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= bestNVME_path %>" class="coursemeal-info__link">3. MSI RTX 3090 Ti SUPRIM <FONT COLOR="#ff0000">1920 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 3060-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.tomshardware.fr/content/uploads/sites/3/2022/03/colorful-geforce-rtx-3090-ti-24gb-igame-neptune-oc-1.jpg">
        <source media="(min-width: 767px)" srcset="https://www.tomshardware.fr/content/uploads/sites/3/2022/03/colorful-geforce-rtx-3090-ti-24gb-igame-neptune-oc-1.jpg">
        <source srcset="https://www.tomshardware.fr/content/uploads/sites/3/2022/03/colorful-geforce-rtx-3090-ti-24gb-igame-neptune-oc-1.jpg">
        <img src="https://www.tomshardware.fr/content/uploads/sites/3/2022/03/colorful-geforce-rtx-3090-ti-24gb-igame-neptune-oc-1.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= bestWATT_path %>" class="coursemeal-info__link">4. Colorful iGame RTX 3090 Ti Neptune OC <FONT COLOR="#ff0000">1905 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>

<div class="demo coursemeal">

<!-- 6600-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.gigabyte.com/Image/66ee36cadfcff6f96b214c706b620e3a/Product/31244/webp/1000">
        <source media="(min-width: 767px)" srcset="https://www.gigabyte.com/Image/66ee36cadfcff6f96b214c706b620e3a/Product/31244/webp/1000">
        <source srcset="https://www.gigabyte.com/Image/66ee36cadfcff6f96b214c706b620e3a/Product/31244/webp/1000">
        <img src="https://www.gigabyte.com/Image/66ee36cadfcff6f96b214c706b620e3a/Product/31244/webp/1000" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestbox_path %>" class="coursemeal-info__link">4. GIGABYTE RTX 3090 Ti GAMING OC <FONT COLOR="#ff0000">1905 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3050-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://images.evga.com/products/gallery/png/24G-P5-4983-KR_LG_1.png">
        <source media="(min-width: 767px)" srcset="https://images.evga.com/products/gallery/png/24G-P5-4983-KR_LG_1.png">
        <source srcset="https://images.evga.com/products/gallery/png/24G-P5-4983-KR_LG_1.png">
        <img src="https://images.evga.com/products/gallery/png/24G-P5-4983-KR_LG_1.png" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mouse_path %>" class="coursemeal-info__link">5. EVGA RTX 3090 Ti FTW3 GAMING<FONT COLOR="#ff0000">1890 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3FpdiiW" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 6500Clavier-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.gainward.com/main/product/vga/pro/p01155/p01155_pic_1127623c166edd049.png">
        <source media="(min-width: 767px)" srcset="https://www.gainward.com/main/product/vga/pro/p01155/p01155_pic_1127623c166edd049.png">
        <source srcset="https://www.gainward.com/main/product/vga/pro/p01155/p01155_pic_1127623c166edd049.png">
        <img src="https://www.gainward.com/main/product/vga/pro/p01155/p01155_pic_1127623c166edd049.png" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= keyboard_path %>" class="coursemeal-info__link">5. Gainward RTX 3090 Ti Phantom GS <FONT COLOR="#ff0000">1890 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>

<div class="demo coursemeal">

<!-- 6600-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.galax.com/media/catalog/product/cache/14/thumbnail/500x500/9df78eab33525d08d6e5fb8d27136e95/g/x/gx_3090ti-boxcard.png">
        <source media="(min-width: 767px)" srcset="https://www.galax.com/media/catalog/product/cache/14/thumbnail/500x500/9df78eab33525d08d6e5fb8d27136e95/g/x/gx_3090ti-boxcard.png">
        <source srcset="https://www.galax.com/media/catalog/product/cache/14/thumbnail/500x500/9df78eab33525d08d6e5fb8d27136e95/g/x/gx_3090ti-boxcard.png">
        <img src="https://www.galax.com/media/catalog/product/cache/14/thumbnail/500x500/9df78eab33525d08d6e5fb8d27136e95/g/x/gx_3090ti-boxcard.png" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestbox_path %>" class="coursemeal-info__link">5. GALAX RTX 3090 Ti EX Gamer <FONT COLOR="#ff0000">1890 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3050-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.inno3d.com/assets/files/product_image/image/INNO3D_3090Ti_iCHILL_Frostbite_set.png">
        <source media="(min-width: 767px)" srcset="https://www.inno3d.com/assets/files/product_image/image/INNO3D_3090Ti_iCHILL_Frostbite_set.png">
        <source srcset="https://www.inno3d.com/assets/files/product_image/image/INNO3D_3090Ti_iCHILL_Frostbite_set.png">
        <img src="https://www.inno3d.com/assets/files/product_image/image/INNO3D_3090Ti_iCHILL_Frostbite_set.png" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mouse_path %>" class="coursemeal-info__link">5. Inno3D iChill RTX 3090 Ti FROSTBITE <FONT COLOR="#ff0000">1890 Mhz ATTENTION WATERBLOCK</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 6500Clavier-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.inno3d.com/assets/files/product_image/image/INNO3D_3090Ti_X3OC_set.png">
        <source media="(min-width: 767px)" srcset="https://www.inno3d.com/assets/files/product_image/image/INNO3D_3090Ti_X3OC_set.png">
        <source srcset="https://www.inno3d.com/assets/files/product_image/image/INNO3D_3090Ti_X3OC_set.png">
        <img src="https://www.inno3d.com/assets/files/product_image/image/INNO3D_3090Ti_X3OC_set.png" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= keyboard_path %>" class="coursemeal-info__link">5. Inno3D RTX 3090 Ti X3 OC <FONT COLOR="#ff0000">1890 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/38ZXfM9" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>

<div class="demo coursemeal">

<!-- 6600-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://media.ldlc.com/r1600/ld/products/00/05/94/62/LD0005946266.jpg">
        <source media="(min-width: 767px)" srcset="https://media.ldlc.com/r1600/ld/products/00/05/94/62/LD0005946266.jpg">
        <source srcset="https://media.ldlc.com/r1600/ld/products/00/05/94/62/LD0005946266.jpg">
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/94/62/LD0005946266.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestbox_path %>" class="coursemeal-info__link">5. KFA2 RTX 3090 Ti EX Gamer <FONT COLOR="#ff0000">1890 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3050-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://media.ldlc.com/r1600/ld/products/00/05/94/34/LD0005943444.jpg">
        <source media="(min-width: 767px)" srcset="https://media.ldlc.com/r1600/ld/products/00/05/94/34/LD0005943444.jpg">
        <source srcset="https://media.ldlc.com/r1600/ld/products/00/05/94/34/LD0005943444.jpg">
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/94/34/LD0005943444.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mouse_path %>" class="coursemeal-info__link">5. Palit RTX 3090 Ti GameRock OC <FONT COLOR="#ff0000">1890 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 6500Clavier-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.zotac.com/download/files/styles/w1024/public/product_gallery/graphics_cards/zt-a30910b-10p-image01.jpg?itok=TZ6ApT7d">
        <source media="(min-width: 767px)" srcset="https://www.zotac.com/download/files/styles/w1024/public/product_gallery/graphics_cards/zt-a30910b-10p-image01.jpg?itok=TZ6ApT7d">
        <source srcset="https://www.zotac.com/download/files/styles/w1024/public/product_gallery/graphics_cards/zt-a30910b-10p-image01.jpg?itok=TZ6ApT7d">
        <img src="https://www.zotac.com/download/files/styles/w1024/public/product_gallery/graphics_cards/zt-a30910b-10p-image01.jpg?itok=TZ6ApT7d" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= keyboard_path %>" class="coursemeal-info__link">5. ZOTAC RTX 3090 Ti AMP Extreme Holo <FONT COLOR="#ff0000">1890 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3KZT9RS" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3LTffqp" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3ykIP3T" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>

<div class="demo coursemeal">

<!-- 6600-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://cdn.videocardz.com/1/2022/04/ZOTAC-3090TI-PGF-HERO.jpg">
        <source media="(min-width: 767px)" srcset="https://cdn.videocardz.com/1/2022/04/ZOTAC-3090TI-PGF-HERO.jpg">
        <source srcset="https://cdn.videocardz.com/1/2022/04/ZOTAC-3090TI-PGF-HERO.jpg">
        <img src="https://cdn.videocardz.com/1/2022/04/ZOTAC-3090TI-PGF-HERO.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestbox_path %>" class="coursemeal-info__link">5. ZOTAC RTX 3090 Ti PGF OC <FONT COLOR="#ff0000">1890 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3050-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.pny.com/productimages/F6A4BE1A-3593-4DAD-BDF5-AE6601380241/images/XLR8-RTX-3090-Ti-UPRISING-EPIC-X-Triple-Fan-gr.png">
        <source media="(min-width: 767px)" srcset="https://www.pny.com/productimages/F6A4BE1A-3593-4DAD-BDF5-AE6601380241/images/XLR8-RTX-3090-Ti-UPRISING-EPIC-X-Triple-Fan-gr.png">
        <source srcset="https://www.pny.com/productimages/F6A4BE1A-3593-4DAD-BDF5-AE6601380241/images/XLR8-RTX-3090-Ti-UPRISING-EPIC-X-Triple-Fan-gr.png">
        <img src="https://www.pny.com/productimages/F6A4BE1A-3593-4DAD-BDF5-AE6601380241/images/XLR8-RTX-3090-Ti-UPRISING-EPIC-X-Triple-Fan-gr.png" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mouse_path %>" class="coursemeal-info__link">5. PNY XLR8 RTX 3090 Ti UPRISING EPIC-X OC <FONT COLOR="#ff0000">1890 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3Fp8H08" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 6500Clavier-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://images.nvidia.com/aem-dam/Solutions/ampere/3090ti-gallery/geforce-rtx-3090-ti-product-gallery-full-screen-3840-1.jpg">
        <source media="(min-width: 767px)" srcset="https://images.nvidia.com/aem-dam/Solutions/ampere/3090ti-gallery/geforce-rtx-3090-ti-product-gallery-full-screen-3840-1.jpg">
        <source srcset="https://images.nvidia.com/aem-dam/Solutions/ampere/3090ti-gallery/geforce-rtx-3090-ti-product-gallery-full-screen-3840-1.jpg">
        <img src="https://images.nvidia.com/aem-dam/Solutions/ampere/3090ti-gallery/geforce-rtx-3090-ti-product-gallery-full-screen-3840-1.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= keyboard_path %>" class="coursemeal-info__link">5. NVIDIA GEFORCE RTX 3090 Ti FE <FONT COLOR="#ff0000">1875 <FONT COLOR="#ff0000">1860 Mhz</FONT></a>
        <h2> Cliquez <a href="https://www.ldlc.com/fiche/PB00493439.html" target="_blank"><img src="https://www.toute-la-franchise.com/images/zoom/news/grd/541574.jpg" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://store.nvidia.com/fr-fr/geforce/store/gpu/?page=1&limit=9&locale=fr-fr&category=GPU&gpu=RTX%203090,RTX%203090%20Ti" target="_blank"><img src="https://zupimages.net/up/20/03/ndr0.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        
    </div>              
</div>
</div>




