
<div class="demo coursemeal">
<!-- Sapphire TOXIC RX 6900 XT Extreme Edition-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://hwrig.com/wp-content/uploads/2020/12/rx-6900-xt-rog-strix-lc.png.webp">
        <source media="(min-width: 767px)" srcset="https://hwrig.com/wp-content/uploads/2020/12/rx-6900-xt-rog-strix-lc.png.webp">
        <source srcset="https://hwrig.com/wp-content/uploads/2020/12/rx-6900-xt-rog-strix-lc.png.webp">
        <img src="https://hwrig.com/wp-content/uploads/2020/12/rx-6900-xt-rog-strix-lc.png.webp" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="" class="coursemeal-info__link">1. ASUS ROG STRIX LC RX 6900 XT GAMING TOP <FONT COLOR="#ff0000">2525 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3MTbEZg" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="#" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="#" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="#" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 6900 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.techbitznpcs.com.au/assets/full/VCS-RX6900XT-TOXIC-S.jpg?20210824115315">
        <source media="(min-width: 767px)" srcset="https://www.techbitznpcs.com.au/assets/full/VCS-RX6900XT-TOXIC-S.jpg?20210824115315">
        <source srcset="https://www.techbitznpcs.com.au/assets/full/VCS-RX6900XT-TOXIC-S.jpg?20210824115315">
        <img src="https://www.techbitznpcs.com.au/assets/full/VCS-RX6900XT-TOXIC-S.jpg?20210824115315" alt="Main Course" >
    </picture> 
    
    <div class="coursemeal-info">          
        <a href="<%= best1440_path %>" class="coursemeal-info__link">1. Sapphire TOXIC RX 6900 XT Extreme Edition <FONT COLOR="#ff0000">2525 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3MVrd2W" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/39CBZfP" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 3090-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1832/innergigabyteimages/kv-img-rwd.jpg">
        <source media="(min-width: 767px)" srcset="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1832/innergigabyteimages/kv-img-rwd.jpg">
        <source srcset="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1832/innergigabyteimages/kv-img-rwd.jpg">
        <img src="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1832/innergigabyteimages/kv-img-rwd.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= best1080_path %>" class="coursemeal-info__link">1. GIGABYTE AORUS RX 6900 XT Xtreme WaterForce <FONT COLOR="#ff0000">2525 Mhz Attention WATERBLOCK</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3LLAcmN" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3w7VEMu" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/387tdpS" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>    




<div class="demo coursemeal">

<!-- 3080 TI-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://overclock3d.net/gfx/articles/2022/03/11152940747l.jpg">
        <source media="(min-width: 767px)" srcset="https://overclock3d.net/gfx/articles/2022/03/11152940747l.jpg">
        <source srcset="https://overclock3d.net/gfx/articles/2022/03/11152940747l.jpg">
        <img src="https://overclock3d.net/gfx/articles/2022/03/11152940747l.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestCPU_path %>" class="coursemeal-info__link">1. XFX RX 6900XT Speedster MERC Zero x EKWB Waterblock <FONT COLOR="#ff0000">2525 Mhz ATTENTION WATERBLOCK</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3LQNI94" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 6800 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://assets-global.website-files.com/5d1911406ad3cbdb9924a753/61433a5e1a80d75e8c0b9cef_6900_XT_Merc_319_01b-p-800.jpeg">
        <source media="(min-width: 767px)" srcset="https://assets-global.website-files.com/5d1911406ad3cbdb9924a753/61433a5e1a80d75e8c0b9cef_6900_XT_Merc_319_01b-p-800.jpeg">
        <source srcset="https://assets-global.website-files.com/5d1911406ad3cbdb9924a753/61433a5e1a80d75e8c0b9cef_6900_XT_Merc_319_01b-p-800.jpeg">
        <img src="https://assets-global.website-files.com/5d1911406ad3cbdb9924a753/61433a5e1a80d75e8c0b9cef_6900_XT_Merc_319_01b-p-800.jpeg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= bestGPU_path %>" class="coursemeal-info__link">2. XFX Speedster MERC319 RX 6900 XT Limited <FONT COLOR="#ff0000">2495 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3OYHhTd" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 3080-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/81wPOwLoWiL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/81wPOwLoWiL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/81wPOwLoWiL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/81wPOwLoWiL._AC_SL1500_.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= bestRAM_path %>" class="coursemeal-info__link">3. PowerColor Liquid Devil RX 6900 XT Ultimate <FONT COLOR="#ff0000">2480 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3w50PwC" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3FiCRCe" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3kIXPAK" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>

<div class="demo coursemeal">

<!-- 3070 TI-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://img.youtube.com/vi/oh0VySAldXE/maxresdefault.jpg">
        <source media="(min-width: 767px)" srcset="https://img.youtube.com/vi/oh0VySAldXE/maxresdefault.jpg">
        <source srcset="https://img.youtube.com/vi/oh0VySAldXE/maxresdefault.jpg">
        <img src="https://img.youtube.com/vi/oh0VySAldXE/maxresdefault.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="" class="coursemeal-info__link">4. ASRock RX 6900 XT OC Formula <FONT COLOR="#ff0000">2475 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3secw2S" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 6700 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://br.atsit.in/fr/wp-content/uploads/2021/07/amd-radeon-rx-6900-xt-lc-avec-gpu-navi-21-xtxh-a-ete-teste.jpg">
        <source media="(min-width: 767px)" srcset="https://br.atsit.in/fr/wp-content/uploads/2021/07/amd-radeon-rx-6900-xt-lc-avec-gpu-navi-21-xtxh-a-ete-teste.jpg">
        <source srcset="https://br.atsit.in/fr/wp-content/uploads/2021/07/amd-radeon-rx-6900-xt-lc-avec-gpu-navi-21-xtxh-a-ete-teste.jpg">
        <img src="https://br.atsit.in/fr/wp-content/uploads/2021/07/amd-radeon-rx-6900-xt-lc-avec-gpu-navi-21-xtxh-a-ete-teste.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mbIntel_path %>" class="coursemeal-info__link">5. PowerColor Radeon LIQUID COOLED RX 6900XT <FONT COLOR="#ff0000">2435 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3kG5TSC" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3LLbT8E" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 3070-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://br.atsit.in/fr/wp-content/uploads/2021/07/amd-radeon-rx-6900-xt-lc-avec-gpu-navi-21-xtxh-a-ete-teste.jpg">
        <source media="(min-width: 767px)" srcset="https://br.atsit.in/fr/wp-content/uploads/2021/07/amd-radeon-rx-6900-xt-lc-avec-gpu-navi-21-xtxh-a-ete-teste.jpg">
        <source srcset="https://br.atsit.in/fr/wp-content/uploads/2021/07/amd-radeon-rx-6900-xt-lc-avec-gpu-navi-21-xtxh-a-ete-teste.jpg">
        <img src="https://br.atsit.in/fr/wp-content/uploads/2021/07/amd-radeon-rx-6900-xt-lc-avec-gpu-navi-21-xtxh-a-ete-teste.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= screen_path %>" class="coursemeal-info__link">5. XFX RADEON RX 6900 XT 16GB LIQUID COOLING <FONT COLOR="#ff0000">2435 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3w83wgY" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3kImeGD" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>
</div>

<div class="demo coursemeal">

<!-- 6700-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/61Zw9vn23oS._AC_SL1024_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/61Zw9vn23oS._AC_SL1024_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/61Zw9vn23oS._AC_SL1024_.jpg">
        <img src="https://m.media-amazon.com/images/I/61Zw9vn23oS._AC_SL1024_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestAIO_path %>" class="coursemeal-info__link">6. MSI RX 6900 XT GAMING Z TRIO <FONT COLOR="#ff0000">2425 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3w52z9c" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3kGxT8L" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3KNyTTf" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3060 TI-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://media.ldlc.com/bo/images/fiches/carte_graphique/powercolor/powercolor_red_devil_rx6900xt_ultimate.jpg">
        <source media="(min-width: 767px)" srcset="https://media.ldlc.com/bo/images/fiches/carte_graphique/powercolor/powercolor_red_devil_rx6900xt_ultimate.jpg">
        <source srcset="https://media.ldlc.com/bo/images/fiches/carte_graphique/powercolor/powercolor_red_devil_rx6900xt_ultimate.jpg">
        <img src="https://media.ldlc.com/bo/images/fiches/carte_graphique/powercolor/powercolor_red_devil_rx6900xt_ultimate.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= bestNVME_path %>" class="coursemeal-info__link">7. PowerColor Red Devil RX 6900 XT Ultimate <FONT COLOR="#ff0000">2425 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3FjTCgn" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 3060-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://mb.cision.com/Public/6758/3290077/aa34790138630bbe_800x800ar.jpg">
        <source media="(min-width: 767px)" srcset="https://mb.cision.com/Public/6758/3290077/aa34790138630bbe_800x800ar.jpg">
        <source srcset="https://mb.cision.com/Public/6758/3290077/aa34790138630bbe_800x800ar.jpg">
        <img src="https://mb.cision.com/Public/6758/3290077/aa34790138630bbe_800x800ar.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= bestWATT_path %>" class="coursemeal-info__link">8. Sapphire TOXIC RX 6900 XT Limited Edition <FONT COLOR="#ff0000">2365 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3LPnd3N" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>

<div class="demo coursemeal">

<!-- 6600-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://pricespy-75b8.kxcdn.com/product/standard/800/5688737.jpg">
        <source media="(min-width: 767px)" srcset="https://pricespy-75b8.kxcdn.com/product/standard/800/5688737.jpg">
        <source srcset="https://pricespy-75b8.kxcdn.com/product/standard/800/5688737.jpg">
        <img src="https://pricespy-75b8.kxcdn.com/product/standard/800/5688737.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestbox_path %>" class="coursemeal-info__link">8. XFX Speedster MERC319 RX 6900 XT BLACK <FONT COLOR="#ff0000">2365 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/38TxahL" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/37gFvMa" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3050-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://i0.wp.com/pausehardware.com/wp-content/uploads/2021/04/SAPPHIRE-Radeon-RX-6900-XT-16GB-NITRO-Special-Edition-002.jpg?resize=1200%2C900&ssl=1">
        <source media="(min-width: 767px)" srcset="https://i0.wp.com/pausehardware.com/wp-content/uploads/2021/04/SAPPHIRE-Radeon-RX-6900-XT-16GB-NITRO-Special-Edition-002.jpg?resize=1200%2C900&ssl=1">
        <source srcset="https://i0.wp.com/pausehardware.com/wp-content/uploads/2021/04/SAPPHIRE-Radeon-RX-6900-XT-16GB-NITRO-Special-Edition-002.jpg?resize=1200%2C900&ssl=1">
        <img src="https://i0.wp.com/pausehardware.com/wp-content/uploads/2021/04/SAPPHIRE-Radeon-RX-6900-XT-16GB-NITRO-Special-Edition-002.jpg?resize=1200%2C900&ssl=1" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mouse_path %>" class="coursemeal-info__link">8. Sapphire NITRO+ RX 6900 XT Special Edition OC <FONT COLOR="#ff0000">2365 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3PbtngP" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 6500Clavier-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://fr.shopping.rakuten.com/photo/1690237077_L.jpg">
        <source media="(min-width: 767px)" srcset="https://fr.shopping.rakuten.com/photo/1690237077_L.jpg">
        <source srcset="https://fr.shopping.rakuten.com/photo/1690237077_L.jpg">
        <img src="https://fr.shopping.rakuten.com/photo/1690237077_L.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= keyboard_path %>" class="coursemeal-info__link">8. GIGABYTE AORUS RX 6900 XT MASTER <FONT COLOR="#ff0000">2365 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3seNyQY" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3P1uuPI" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/39tewh4" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>

<div class="demo coursemeal">

<!-- 6600-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/71IkLOZiAXS._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/71IkLOZiAXS._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/71IkLOZiAXS._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/71IkLOZiAXS._AC_SL1500_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestbox_path %>" class="coursemeal-info__link">8. ASUS ROG STRIX LC RX 6900 XT GAMING OC <FONT COLOR="#ff0000">2365 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3OY2koU" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href=""" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3050-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://i0.wp.com/pausehardware.com/wp-content/uploads/2020/12/Screenshot_2020-12-08-ASRock-News.png?resize=1024%2C481&ssl=1">
        <source media="(min-width: 767px)" srcset="https://i0.wp.com/pausehardware.com/wp-content/uploads/2020/12/Screenshot_2020-12-08-ASRock-News.png?resize=1024%2C481&ssl=1">
        <source srcset="https://i0.wp.com/pausehardware.com/wp-content/uploads/2020/12/Screenshot_2020-12-08-ASRock-News.png?resize=1024%2C481&ssl=1">
        <img src="https://i0.wp.com/pausehardware.com/wp-content/uploads/2020/12/Screenshot_2020-12-08-ASRock-News.png?resize=1024%2C481&ssl=1" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mouse_path %>" class="coursemeal-info__link">9. ASRock RX 6900 XT Phantom Gaming D OC <FONT COLOR="#ff0000">2340 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3LOzZQ0" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 6500Clavier-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://pic.clubic.com/v1/images/1859805/raw?fit=max&width=1200&hash=d7a698b19f3b81602e0c4e90d3fe66ce26b0c685">
        <source media="(min-width: 767px)" srcset="https://pic.clubic.com/v1/images/1859805/raw?fit=max&width=1200&hash=d7a698b19f3b81602e0c4e90d3fe66ce26b0c685">
        <source srcset="https://pic.clubic.com/v1/images/1859805/raw?fit=max&width=1200&hash=d7a698b19f3b81602e0c4e90d3fe66ce26b0c685">
        <img src="https://pic.clubic.com/v1/images/1859805/raw?fit=max&width=1200&hash=d7a698b19f3b81602e0c4e90d3fe66ce26b0c685" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= keyboard_path %>" class="coursemeal-info__link">9. MSI RX 6900 XT GAMING X TRIO <FONT COLOR="#ff0000">2340 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3seOyEI" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>

<div class="demo coursemeal">

<!-- 6600-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.pc-boost.com/news/upload/50_December_2020/2012071505400.png">
        <source media="(min-width: 767px)" srcset="https://www.pc-boost.com/news/upload/50_December_2020/2012071505400.png">
        <source srcset="https://www.pc-boost.com/news/upload/50_December_2020/2012071505400.png">
        <img src="https://www.pc-boost.com/news/upload/50_December_2020/2012071505400.png" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestbox_path %>" class="coursemeal-info__link">9. PowerColor Red Devil RX 6900 XT Limited Edition <FONT COLOR="#ff0000">2340 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3050-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.cybertek.fr/images_produits/536d3bce-f22d-4e18-bf33-082a64a19626.jpg">
        <source media="(min-width: 767px)" srcset="https://www.cybertek.fr/images_produits/536d3bce-f22d-4e18-bf33-082a64a19626.jpg">
        <source srcset="https://www.cybertek.fr/images_produits/536d3bce-f22d-4e18-bf33-082a64a19626.jpg">
        <img src="https://www.cybertek.fr/images_produits/536d3bce-f22d-4e18-bf33-082a64a19626.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mouse_path %>" class="coursemeal-info__link">9. XFX Speedster MERC319 RX 6900 XT ULTRA <FONT COLOR="#ff0000">2340 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 6500Clavier-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.topachat.com/boutique/img/in/in2000/in20006818/05.jpg">
        <source media="(min-width: 767px)" srcset="https://www.topachat.com/boutique/img/in/in2000/in20006818/05.jpg">
        <source srcset="https://www.topachat.com/boutique/img/in/in2000/in20006818/05.jpg">
        <img src="https://www.topachat.com/boutique/img/in/in2000/in20006818/05.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= keyboard_path %>" class="coursemeal-info__link">10. ASUS TUF RX 6900 XT GAMING TOP <FONT COLOR="#ff0000">2335 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3secw2S" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>

<div class="demo coursemeal">

<!-- 6600-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1707/innergigabyteimages/eagle/03_s.jpg">
        <source media="(min-width: 767px)" srcset="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1707/innergigabyteimages/eagle/03_s.jpg">
        <source srcset="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1707/innergigabyteimages/eagle/03_s.jpg">
        <img src="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1707/innergigabyteimages/eagle/03_s.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestbox_path %>" class="coursemeal-info__link">11. GIGABYTE RX 6900 XT GAMING OC <FONT COLOR="#ff0000">2285 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3scHXug" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3FghH7C" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3050-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.topachat.com/boutique/img/in/in2000/in20008905/in2000890502@2x.jpg">
        <source media="(min-width: 767px)" srcset="https://www.topachat.com/boutique/img/in/in2000/in20008905/in2000890502@2x.jpg">
        <source srcset="https://www.topachat.com/boutique/img/in/in2000/in20008905/in2000890502@2x.jpg">
        <img src="https://www.topachat.com/boutique/img/in/in2000/in20008905/in2000890502@2x.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mouse_path %>" class="coursemeal-info__link">11. Sapphire NITRO+ RX 6900 XT OC <FONT COLOR="#ff0000">2285 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/39tlgvq" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 6500Clavier-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.amd.com/system/files/styles/992px/private/2020-10/579976-radeon-rx-6000xt-left-angle-1260x709_0.png?itok=um_yKTf-">
        <source media="(min-width: 767px)" srcset="https://www.amd.com/system/files/styles/992px/private/2020-10/579976-radeon-rx-6000xt-left-angle-1260x709_0.png?itok=um_yKTf-">
        <source srcset="https://www.amd.com/system/files/styles/992px/private/2020-10/579976-radeon-rx-6000xt-left-angle-1260x709_0.png?itok=um_yKTf-">
        <img src="https://www.amd.com/system/files/styles/992px/private/2020-10/579976-radeon-rx-6000xt-left-angle-1260x709_0.png?itok=um_yKTf-" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= keyboard_path %>" class="coursemeal-info__link"></a>
        <h2> Cliquez <a href="https://www.amd.com/fr/direct-buy/5458374200/fr" target="_blank"><img src="https://www.shoppei.fr/wp-content/uploads/2020/09/amd.jpg" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>
