<div class="demo coursemeal">
<!-- Sapphire TOXIC RX 6900 XT Extreme Edition-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://hwrig.com/wp-content/uploads/2020/12/rx-6900-xt-rog-strix-lc.png.webp">
        <source media="(min-width: 767px)" srcset="https://hwrig.com/wp-content/uploads/2020/12/rx-6900-xt-rog-strix-lc.png.webp">
        <source srcset="https://hwrig.com/wp-content/uploads/2020/12/rx-6900-xt-rog-strix-lc.png.webp">
        <img src="https://hwrig.com/wp-content/uploads/2020/12/rx-6900-xt-rog-strix-lc.png.webp" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="" class="coursemeal-info__link">1. ASUS ROG STRIX LC RX 6950 XT GAMING TOP <FONT COLOR="#ff0000">2565 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="#" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="#" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="#" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3090-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1832/innergigabyteimages/kv-img-rwd.jpg">
        <source media="(min-width: 767px)" srcset="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1832/innergigabyteimages/kv-img-rwd.jpg">
        <source srcset="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1832/innergigabyteimages/kv-img-rwd.jpg">
        <img src="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1832/innergigabyteimages/kv-img-rwd.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= best1080_path %>" class="coursemeal-info__link">1. GIGABYTE AORUS RX 6950 XT Xtreme WaterForce <FONT COLOR="#ff0000">2565 Mhz Attention WATERBLOCK</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>

<!-- 6900 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.techbitznpcs.com.au/assets/full/VCS-RX6900XT-TOXIC-S.jpg?20210824115315">
        <source media="(min-width: 767px)" srcset="https://www.techbitznpcs.com.au/assets/full/VCS-RX6900XT-TOXIC-S.jpg?20210824115315">
        <source srcset="https://www.techbitznpcs.com.au/assets/full/VCS-RX6900XT-TOXIC-S.jpg?20210824115315">
        <img src="https://www.techbitznpcs.com.au/assets/full/VCS-RX6900XT-TOXIC-S.jpg?20210824115315" alt="Main Course" >
    </picture> 
    
    <div class="coursemeal-info">          
        <a href="<%= best1440_path %>" class="coursemeal-info__link">2. Sapphire TOXIC RX 6950 XT Extreme Edition <FONT COLOR="#ff0000">2532 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3N79PYM" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>


</div>    




<div class="demo coursemeal">

<!-- 3080-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/81wPOwLoWiL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/81wPOwLoWiL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/81wPOwLoWiL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/81wPOwLoWiL._AC_SL1500_.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= bestRAM_path %>" class="coursemeal-info__link">3. PowerColor Liquid Devil RX 6950 XT Ultimate <FONT COLOR="#ff0000">2513 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>

<!-- 3070 TI-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://img.youtube.com/vi/oh0VySAldXE/maxresdefault.jpg">
        <source media="(min-width: 767px)" srcset="https://img.youtube.com/vi/oh0VySAldXE/maxresdefault.jpg">
        <source srcset="https://img.youtube.com/vi/oh0VySAldXE/maxresdefault.jpg">
        <img src="https://img.youtube.com/vi/oh0VySAldXE/maxresdefault.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="" class="coursemeal-info__link">4. ASRock RX 6950 XT OC Formula <FONT COLOR="#ff0000">2495 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 6500Clavier-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://pic.clubic.com/v1/images/1859805/raw?fit=max&width=1200&hash=d7a698b19f3b81602e0c4e90d3fe66ce26b0c685">
        <source media="(min-width: 767px)" srcset="https://pic.clubic.com/v1/images/1859805/raw?fit=max&width=1200&hash=d7a698b19f3b81602e0c4e90d3fe66ce26b0c685">
        <source srcset="https://pic.clubic.com/v1/images/1859805/raw?fit=max&width=1200&hash=d7a698b19f3b81602e0c4e90d3fe66ce26b0c685">
        <img src="https://pic.clubic.com/v1/images/1859805/raw?fit=max&width=1200&hash=d7a698b19f3b81602e0c4e90d3fe66ce26b0c685" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= keyboard_path %>" class="coursemeal-info__link">5. MSI RX 6950 XT GAMING X TRIO <FONT COLOR="#ff0000">2454 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3sxX6Xi" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3wb7fvm" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3w74GdH" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>





</div>

<div class="demo coursemeal">

<!-- 3060 TI-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://media.ldlc.com/bo/images/fiches/carte_graphique/powercolor/powercolor_red_devil_rx6900xt_ultimate.jpg">
        <source media="(min-width: 767px)" srcset="https://media.ldlc.com/bo/images/fiches/carte_graphique/powercolor/powercolor_red_devil_rx6900xt_ultimate.jpg">
        <source srcset="https://media.ldlc.com/bo/images/fiches/carte_graphique/powercolor/powercolor_red_devil_rx6900xt_ultimate.jpg">
        <img src="https://media.ldlc.com/bo/images/fiches/carte_graphique/powercolor/powercolor_red_devil_rx6900xt_ultimate.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= bestNVME_path %>" class="coursemeal-info__link">6. PowerColor Red Devil RX 6950 XT Ultimate <FONT COLOR="#ff0000">2435 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/37HN4fb" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 3050-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://i0.wp.com/pausehardware.com/wp-content/uploads/2021/04/SAPPHIRE-Radeon-RX-6900-XT-16GB-NITRO-Special-Edition-002.jpg?resize=1200%2C900&ssl=1">
        <source media="(min-width: 767px)" srcset="https://i0.wp.com/pausehardware.com/wp-content/uploads/2021/04/SAPPHIRE-Radeon-RX-6900-XT-16GB-NITRO-Special-Edition-002.jpg?resize=1200%2C900&ssl=1">
        <source srcset="https://i0.wp.com/pausehardware.com/wp-content/uploads/2021/04/SAPPHIRE-Radeon-RX-6900-XT-16GB-NITRO-Special-Edition-002.jpg?resize=1200%2C900&ssl=1">
        <img src="https://i0.wp.com/pausehardware.com/wp-content/uploads/2021/04/SAPPHIRE-Radeon-RX-6900-XT-16GB-NITRO-Special-Edition-002.jpg?resize=1200%2C900&ssl=1" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mouse_path %>" class="coursemeal-info__link">7. Sapphire NITRO+ RX 6950 XT PURE GAMING <FONT COLOR="#ff0000">2368 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>


<!-- 3050-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://i0.wp.com/pausehardware.com/wp-content/uploads/2021/04/SAPPHIRE-Radeon-RX-6900-XT-16GB-NITRO-Special-Edition-002.jpg?resize=1200%2C900&ssl=1">
        <source media="(min-width: 767px)" srcset="https://i0.wp.com/pausehardware.com/wp-content/uploads/2021/04/SAPPHIRE-Radeon-RX-6900-XT-16GB-NITRO-Special-Edition-002.jpg?resize=1200%2C900&ssl=1">
        <source srcset="https://i0.wp.com/pausehardware.com/wp-content/uploads/2021/04/SAPPHIRE-Radeon-RX-6900-XT-16GB-NITRO-Special-Edition-002.jpg?resize=1200%2C900&ssl=1">
        <img src="https://i0.wp.com/pausehardware.com/wp-content/uploads/2021/04/SAPPHIRE-Radeon-RX-6900-XT-16GB-NITRO-Special-Edition-002.jpg?resize=1200%2C900&ssl=1" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mouse_path %>" class="coursemeal-info__link">8. Sapphire NITRO+ RX 6950 XT GAMING OC <FONT COLOR="#ff0000">2324 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3LlXwXw" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 6600-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1707/innergigabyteimages/eagle/03_s.jpg">
        <source media="(min-width: 767px)" srcset="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1707/innergigabyteimages/eagle/03_s.jpg">
        <source srcset="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1707/innergigabyteimages/eagle/03_s.jpg">
        <img src="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1707/innergigabyteimages/eagle/03_s.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestbox_path %>" class="coursemeal-info__link">8. GIGABYTE RX 6950 XT GAMING OC <FONT COLOR="#ff0000">2324 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>
</div>

<div class="demo coursemeal">

<!-- 6600-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1707/innergigabyteimages/eagle/03_s.jpg">
        <source media="(min-width: 767px)" srcset="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1707/innergigabyteimages/eagle/03_s.jpg">
        <source srcset="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1707/innergigabyteimages/eagle/03_s.jpg">
        <img src="https://www.gigabyte.com/FileUpload/Global/KeyFeature/1707/innergigabyteimages/eagle/03_s.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestbox_path %>" class="coursemeal-info__link">9. GIGABYTE RX 6950 XT GAMING OC <FONT COLOR="#ff0000">2324 Mhz</FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 6500Clavier-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.amd.com/system/files/styles/992px/private/2020-10/579976-radeon-rx-6000xt-left-angle-1260x709_0.png?itok=um_yKTf-">
        <source media="(min-width: 767px)" srcset="https://www.amd.com/system/files/styles/992px/private/2020-10/579976-radeon-rx-6000xt-left-angle-1260x709_0.png?itok=um_yKTf-">
        <source srcset="https://www.amd.com/system/files/styles/992px/private/2020-10/579976-radeon-rx-6000xt-left-angle-1260x709_0.png?itok=um_yKTf-">
        <img src="https://www.amd.com/system/files/styles/992px/private/2020-10/579976-radeon-rx-6000xt-left-angle-1260x709_0.png?itok=um_yKTf-" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= keyboard_path %>" class="coursemeal-info__link">10. AMD 6950XT <FONT COLOR="#ff0000">2310 Mhz</FONT></a>
        <h2> Cliquez <a href="https://www.amd.com/en/direct-buy/5618082700/fr" target="_blank"><img src="https://www.shoppei.fr/wp-content/uploads/2020/09/amd.jpg" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>



<!-- 3060 TI-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="">
        <source media="(min-width: 767px)" srcset="">
        <source srcset="">
        <img src="" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= bestNVME_path %>" class="coursemeal-info__link"> <FONT COLOR="#ff0000"></FONT></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>


</div>


