<div class="demo coursemeal">
   
    <!-- Carte mère Z690 DDR5-->
    <div class="coursemeal__div">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source media="(min-width: 767px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <img src="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg" alt="Main Course" >
        </picture> 
        
        <div class="coursemeal-info">          
            <a href="<%= z690ddr5_path %>" class="coursemeal-info__link">Carte mère Z690 <FONT COLOR="#ff0000">DDR5</FONT></a>
        </div>            
    </div>  

    <!-- Carte mère Z690 DDR4-->
    <div class="coursemeal__div ">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
            <source media="(min-width: 767px)" srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
            <source srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
            <img src="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg" alt="Appetizer" >
        </picture>     
        
        <div class="coursemeal-info">
            <a href="<%= z690ddr4_path %>" class="coursemeal-info__link">Carte mère Z690 <FONT COLOR="#ff0000">DDR4</FONT></a>
        </div>
    </div>

    <!-- Carte mère Z690 DDR5 -->
    <div class="coursemeal__div">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source media="(min-width: 767px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <img src="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg" alt="Main Course" >
        </picture> 
        
        <div class="coursemeal-info">          
        <a href="<%= b660ddr5_path %>" class="coursemeal-info__link">Carte mère B660 <FONT COLOR="#ff0000">DDR5</FONT></a>
        </div>            
    </div> 
     
</div>    

<div class="demo coursemeal">
   
    <!-- Meilleur GPU 2K-->
    <div class="coursemeal__div">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source media="(min-width: 767px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <img src="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg" alt="Main Course" >
        </picture> 
        
        <div class="coursemeal-info">          
            <a href="<%= b660ddr4_path %>" class="coursemeal-info__link">Carte mère B660 <FONT COLOR="#ff0000">DDR4</FONT></a>
        </div>            
    </div>  

    <!-- Meilleur pc 2K-->
    <div class="coursemeal__div ">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://upload.wikimedia.org/wikipedia/commons/1/1f/Bruit_thermique.jpg">
            <source media="(min-width: 767px)" srcset="https://upload.wikimedia.org/wikipedia/commons/1/1f/Bruit_thermique.jpg">
            <source srcset="https://upload.wikimedia.org/wikipedia/commons/1/1f/Bruit_thermique.jpg">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/1f/Bruit_thermique.jpg" alt="Appetizer" >
        </picture>     
        
        <div class="coursemeal-info">
            <a href="<%=  %>" class="coursemeal-info__link"></a>
        </div>
    </div>

    <!-- Meilleur GPU 2K-->
    <div class="coursemeal__div">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://upload.wikimedia.org/wikipedia/commons/1/1f/Bruit_thermique.jpg">
            <source media="(min-width: 767px)" srcset="https://upload.wikimedia.org/wikipedia/commons/1/1f/Bruit_thermique.jpg">
            <source srcset="https://upload.wikimedia.org/wikipedia/commons/1/1f/Bruit_thermique.jpg">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/1f/Bruit_thermique.jpg" alt="Main Course" >
        </picture> 
        
        <div class="coursemeal-info">          
        <a href="<%=  %>" class="coursemeal-info__link"></a>
        </div>            
    </div> 
     
</div>    