<div style="text-align:center">
<br></br>
<h1> PC <FONT COLOR="#ff0000">2K MAX FPS BASIQUE</FONT><h1/>
<br></br>
<h2>Benchmark 6900xt VS 3090TI et 12900KS VS 5800x3D<h2/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/UM92nSNOBAI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_0w0ZXoXiQ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ppLeMaVuhug" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/k8ts8lR_o2g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<br></br>

<div class="demo coursemeal">
<!-- 6800 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://assets-global.website-files.com/5d1911406ad3cbdb9924a753/61433a5e1a80d75e8c0b9cef_6900_XT_Merc_319_01b-p-800.jpeg">
        <source media="(min-width: 767px)" srcset="https://assets-global.website-files.com/5d1911406ad3cbdb9924a753/61433a5e1a80d75e8c0b9cef_6900_XT_Merc_319_01b-p-800.jpeg">
        <source srcset="https://assets-global.website-files.com/5d1911406ad3cbdb9924a753/61433a5e1a80d75e8c0b9cef_6900_XT_Merc_319_01b-p-800.jpeg">
        <img src="https://assets-global.website-files.com/5d1911406ad3cbdb9924a753/61433a5e1a80d75e8c0b9cef_6900_XT_Merc_319_01b-p-800.jpeg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= bestGPU_path %>" class="coursemeal-info__link">2. XFX Speedster MERC319 RX 6900 XT Limited <FONT COLOR="#ff0000">2495 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3OYHhTd" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 3070 TI-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://img.youtube.com/vi/oh0VySAldXE/maxresdefault.jpg">
        <source media="(min-width: 767px)" srcset="https://img.youtube.com/vi/oh0VySAldXE/maxresdefault.jpg">
        <source srcset="https://img.youtube.com/vi/oh0VySAldXE/maxresdefault.jpg">
        <img src="https://img.youtube.com/vi/oh0VySAldXE/maxresdefault.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="" class="coursemeal-info__link">4. ASRock RX 6900 XT OC Formula <FONT COLOR="#ff0000">2475 Mhz</FONT></a>
        <h2> Cliquez <a href="https://amzn.to/3secw2S" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 58003D -->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/61Kq99IRdcL._AC_SL1000_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/61Kq99IRdcL._AC_SL1000_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/61Kq99IRdcL._AC_SL1000_.jpg">
        <img src="https://m.media-amazon.com/images/I/61Kq99IRdcL._AC_SL1000_.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= best1080_path %>" class="coursemeal-info__link">2. AMD Ryzen 7 5800X3D </a>
        <h2> Cliquez <a href="https://amzn.to/3yi3KER" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/38ZqTRG" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>           
</div>
</div>    




<div class="demo coursemeal">

<!-- 6900 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/91Tnf2DqWHL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/91Tnf2DqWHL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/91Tnf2DqWHL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/91Tnf2DqWHL._AC_SL1500_.jpg" alt="Appetizer" >
    </picture>     

    <div class="coursemeal-info">
        <a href="" class="coursemeal-info__link">3. MSI MAG X570S Tomahawk Max WiFi AMD X570</a>
        <h2> Cliquez <a href="https://amzn.to/3wIoTpj" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3wC2BXp" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3G7atmW" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>     
</div>

<!-- 6700 XT-->
<div class="coursemeal__div">
    
<picture class="responsive-img">
<source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/51DfIlP5A+L._AC_SL1100_.jpg">
<source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/51DfIlP5A+L._AC_SL1100_.jpg">
<source srcset="https://m.media-amazon.com/images/I/51DfIlP5A+L._AC_SL1100_.jpg">
<img src="https://m.media-amazon.com/images/I/51DfIlP5A+L._AC_SL1100_.jpg" alt="Desserts">
</picture>

<div class="coursemeal-info">
<a href="<%= bestRAM_path %>" class="coursemeal-info__link">3. G.Skill Ripjaws V F4 16 Go DDR4 4000 MHz C14</a>
<h2> Cliquez <a href="https://amzn.to/3P7xxGh" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
<h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
<h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
<h2> Cliquez <a href="https://tidd.ly/393zJhw" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
</div>   
</div>  

<!-- 6700 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://images.samsung.com/is/image/samsung/p6pim/be_fr/lc27g75tqsrxen/gallery/be-fr-odyssey-g7-c27g75t-lc27g75tqsrxen-412141834?$2160_1728_PNG$">
        <source media="(min-width: 767px)" srcset="https://images.samsung.com/is/image/samsung/p6pim/be_fr/lc27g75tqsrxen/gallery/be-fr-odyssey-g7-c27g75t-lc27g75tqsrxen-412141834?$2160_1728_PNG$">
        <source srcset="https://images.samsung.com/is/image/samsung/p6pim/be_fr/lc27g75tqsrxen/gallery/be-fr-odyssey-g7-c27g75t-lc27g75tqsrxen-412141834?$2160_1728_PNG$">
        <img src="https://images.samsung.com/is/image/samsung/p6pim/be_fr/lc27g75tqsrxen/gallery/be-fr-odyssey-g7-c27g75t-lc27g75tqsrxen-412141834?$2160_1728_PNG$" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mbIntel_path %>" class="coursemeal-info__link">5. SAMSUNG ODYSSEY G7, 27, 2560 x 1440, 240HZ</a>
        <h2> Cliquez <a href="https://amzn.to/3P0gLJc" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3MUbJMj" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3yh4rOI" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3vMEVPQ" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>
</div>

<div class="demo coursemeal">



<!-- 3070-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/61j04sbQQGS._SL1200_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/61j04sbQQGS._SL1200_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/61j04sbQQGS._SL1200_.jpg">
        <img src="https://m.media-amazon.com/images/I/61j04sbQQGS._SL1200_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= screen_path %>" class="coursemeal-info__link">6. ARCTIC Liquid Freezer II 240 A-RGB</a>
        <h2> Cliquez <a href="https://amzn.to/3ywSiFp" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3wtWsv0" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 6700-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/812GLY781vL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/812GLY781vL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/812GLY781vL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/812GLY781vL._AC_SL1500_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestAIO_path %>" class="coursemeal-info__link">7. Corsair RM850x 80 PLUS Gold 850 Watts</a>
        <h2> Cliquez <a href="https://amzn.to/3szBzNU" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/38rIZMv" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3Ldi5Fg" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3lae9KU" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3060 TI-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/51gMmADy+OS._AC_SL1024_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/51gMmADy+OS._AC_SL1024_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/51gMmADy+OS._AC_SL1024_.jpg">
        <img src="https://m.media-amazon.com/images/I/51gMmADy+OS._AC_SL1024_.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= bestNVME_path %>" class="coursemeal-info__link">8. MSI BT MAG Forge 100M </a>
        <h2> Cliquez <a href="https://amzn.to/3MdDKi9" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3FFSYd6" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/39Np4YA" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>


</div>

<div class="demo coursemeal">


<!-- 3060-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/61hagN0mSxL._AC_SL1000_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/61hagN0mSxL._AC_SL1000_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/61hagN0mSxL._AC_SL1000_.jpg">
        <img src="https://m.media-amazon.com/images/I/61hagN0mSxL._AC_SL1000_.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= bestWATT_path %>" class="coursemeal-info__link">9. PNY XLR8 CS3030 NVMe 1TB 3500 Mo/s /s</a>
        <h2> Cliquez <a href="https://amzn.to/3yAtU5J" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>

<!-- 6600-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/71MSG+WhW0L._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/71MSG+WhW0L._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/71MSG+WhW0L._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/71MSG+WhW0L._AC_SL1500_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestbox_path %>" class="coursemeal-info__link">10. Logitech G PRO X SUPERLIGHT Souris Gaming sans Fil</a>
        <h2> Cliquez <a href="https://amzn.to/3wfj42C" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3vOkMsz" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3OZUnzv" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3w3MeS2" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 6500Clavier-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/71eY7u6HO9S._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/71eY7u6HO9S._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/71eY7u6HO9S._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/71eY7u6HO9S._AC_SL1500_.jpg2" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= keyboard_path %>" class="coursemeal-info__link">12. Logitech G915 TKL</a>
        <h2> Cliquez <a href="https://amzn.to/39vTPkE" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>

<div class="demo coursemeal">

<!-- 6600-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/61UoB-NSiwL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/61UoB-NSiwL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/61UoB-NSiwL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/61UoB-NSiwL._AC_SL1500_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestbox_path %>" class="coursemeal-info__link">13. ASTRO Gaming A50 Casque sans fil</a>
        <h2> Cliquez <a href="https://amzn.to/3OYnTpo" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href=""" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3050-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/81EN7EsPbNL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/81EN7EsPbNL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/81EN7EsPbNL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/81EN7EsPbNL._AC_SL1500_.jpg2" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mouse_path %>" class="coursemeal-info__link">14. SCUF Manette sans fil </a>
        <h2> Cliquez <a href="https://amzn.to/3FlpVvc" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>


</div>

