<div style="text-align:center">
<br></br>
<h1>Le meilleur PC pour Warzone en 4K<h1/>
<br></br>
<h2>Benchmark 3090TI VS 6900XT en 4K Low<h2/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/IyilsnXDBJE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8kWqI6_goB8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br></br>


<div class="demo coursemeal">
<!-- Sapphire TOXIC RX 6900 XT Extreme Edition-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
    <source media="(min-width: 992px)" srcset="https://www.cowcotland.com/images.php?url=images/news/2022/03/evga-rtx3090ti-1.jpg&t=660">
    <source media="(min-width: 767px)" srcset="https://www.cowcotland.com/images.php?url=images/news/2022/03/evga-rtx3090ti-1.jpg&t=660">
    <source srcset="https://www.cowcotland.com/images.php?url=images/news/2022/03/evga-rtx3090ti-1.jpg&t=660">
    <img src="https://www.cowcotland.com/images.php?url=images/news/2022/03/evga-rtx3090ti-1.jpg&t=660" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
    <a href="<%= g3090TI_path %>" class="coursemeal-info__link">1. EVGA RTX 3090 Ti FTW3 KINGPIN HYBRID <FONT COLOR="#ff0000">1950 Mhz</FONT></a>
    <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 6900 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
    <source media="(min-width: 992px)" srcset="https://dlcdnwebimgs.asus.com/files/media/D9B36B3F-3525-4CFD-B339-DBE510F3F347/v1/img/kv-cover.png">
    <source media="(min-width: 767px)" srcset="https://dlcdnwebimgs.asus.com/files/media/D9B36B3F-3525-4CFD-B339-DBE510F3F347/v1/img/kv-cover.png">
    <source srcset="https://dlcdnwebimgs.asus.com/files/media/D9B36B3F-3525-4CFD-B339-DBE510F3F347/v1/img/kv-cover.png">
    <img src="https://dlcdnwebimgs.asus.com/files/media/D9B36B3F-3525-4CFD-B339-DBE510F3F347/v1/img/kv-cover.png" alt="Main Course" >
    </picture> 
    
    <div class="coursemeal-info">          
    <a href="<%= best1440_path %>" class="coursemeal-info__link">1. ASUS ROG STRIX LC RTX 3090 Ti OC <FONT COLOR="#ff0000">1950 Mhz</FONT></a>
    <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 3090-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
    <source media="(min-width: 992px)" srcset="https://overclocking.com/wp-content/medias/2022/03/galax-RTX-3090-Ti-HOF-OC-LAB-overclocking-4.jpg">
    <source media="(min-width: 767px)" srcset="https://overclocking.com/wp-content/medias/2022/03/galax-RTX-3090-Ti-HOF-OC-LAB-overclocking-4.jpg">
    <source srcset="https://overclocking.com/wp-content/medias/2022/03/galax-RTX-3090-Ti-HOF-OC-LAB-overclocking-4.jpg">
    <img src="https://overclocking.com/wp-content/medias/2022/03/galax-RTX-3090-Ti-HOF-OC-LAB-overclocking-4.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
    <a href="<%= best1080_path %>" class="coursemeal-info__link">1. GALAX RTX 3090 Ti HOF OC Lab Limited Edition <FONT COLOR="#ff0000">1950 Mhz Attention WATERBLOCK</FONT></a>
    <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>    




<div class="demo coursemeal">

<!-- 3080 TI-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
    <source media="(min-width: 992px)" srcset="https://www.tomshardware.fr/content/uploads/sites/3/2022/03/intro-41-1024x743.jpg">
    <source media="(min-width: 767px)" srcset="https://www.tomshardware.fr/content/uploads/sites/3/2022/03/intro-41-1024x743.jpg">
    <source srcset="https://www.tomshardware.fr/content/uploads/sites/3/2022/03/intro-41-1024x743.jpg">
    <img src="https://www.tomshardware.fr/content/uploads/sites/3/2022/03/intro-41-1024x743.jpg" alt="Appetizer" >
    </picture>     

    <div class="coursemeal-info">
    <a href="<%= bestCPU_path %>" class="coursemeal-info__link">1. MSI RTX 3090 Ti SUPRIM X <FONT COLOR="#ff0000">1950 Mhz</FONT></a>
    <h2> Cliquez <a href="https://amzn.to/3LVmJZI" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    <h2> Cliquez <a href="https://tidd.ly/3yfnzwC" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    <h2> Cliquez <a href="https://tidd.ly/3LVmH42" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 6800 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/61Kq99IRdcL._AC_SL1000_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/61Kq99IRdcL._AC_SL1000_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/61Kq99IRdcL._AC_SL1000_.jpg">
        <img src="https://m.media-amazon.com/images/I/61Kq99IRdcL._AC_SL1000_.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= best1080_path %>" class="coursemeal-info__link">2. AMD Ryzen 7 5800X3D </a>
        <h2> Cliquez <a href="https://amzn.to/3yi3KER" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>           
</div>

<!-- 3080-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://cdn.mos.cms.futurecdn.net/hACEtJmaPPSWAuW4VYnCHM.jpg">
        <source media="(min-width: 767px)" srcset="https://cdn.mos.cms.futurecdn.net/hACEtJmaPPSWAuW4VYnCHM.jpg">
        <source srcset="https://cdn.mos.cms.futurecdn.net/hACEtJmaPPSWAuW4VYnCHM.jpg">
        <img src="https://cdn.mos.cms.futurecdn.net/hACEtJmaPPSWAuW4VYnCHM.jpg" alt="Appetizer" >
    </picture>     

<div class="coursemeal-info">
    <a href="<%= bestCPU_path %>" class="coursemeal-info__link">3. ASUS ROG Crosshair VIII Extreme – Carte mère gaming AMD X570</FONT> </a>
        <h2> Cliquez <a href="https://amzn.to/38ZlFWo" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>  
</div>
</div>

<div class="demo coursemeal">

<!-- 3070 TI-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/61Gnse+55dL._AC_SL1065_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/61Gnse+55dL._AC_SL1065_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/61Gnse+55dL._AC_SL1065_.jpg">
        <img src="https://m.media-amazon.com/images/I/61Gnse+55dL._AC_SL1065_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= mbamd_path %>" class="coursemeal-info__link">4. G.SKILL 16 Go DDR4 Trident Z Royal Silver 4800 MHz CL17</a>
        <<h2> Cliquez <a href="https://amzn.to/3N20SAd" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        
        <h2> Cliquez <a href="https://tidd.ly/389OuPL" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Gold Version <a href="https://tidd.ly/3vRfgW7" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 6700 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://images.samsung.com/is/image/samsung/p6pim/be_fr/lc27g75tqsrxen/gallery/be-fr-odyssey-g7-c27g75t-lc27g75tqsrxen-412141834?$2160_1728_PNG$">
        <source media="(min-width: 767px)" srcset="https://images.samsung.com/is/image/samsung/p6pim/be_fr/lc27g75tqsrxen/gallery/be-fr-odyssey-g7-c27g75t-lc27g75tqsrxen-412141834?$2160_1728_PNG$">
        <source srcset="https://images.samsung.com/is/image/samsung/p6pim/be_fr/lc27g75tqsrxen/gallery/be-fr-odyssey-g7-c27g75t-lc27g75tqsrxen-412141834?$2160_1728_PNG$">
        <img src="https://images.samsung.com/is/image/samsung/p6pim/be_fr/lc27g75tqsrxen/gallery/be-fr-odyssey-g7-c27g75t-lc27g75tqsrxen-412141834?$2160_1728_PNG$" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mbIntel_path %>" class="coursemeal-info__link">5. SAMSUNG ODYSSEY G7, 28, 4K, 144HZ</a>
        <h2> Cliquez <a href="https://amzn.to/3kPO3Nm" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3sjRAYk" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 3070-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://www.ekwb.com/shop/media/wysiwyg/EK-AIO-360.png">
        <source media="(min-width: 767px)" srcset="https://www.ekwb.com/shop/media/wysiwyg/EK-AIO-360.png">
        <source srcset="https://www.ekwb.com/shop/media/wysiwyg/EK-AIO-360.png">
        <img src="https://www.ekwb.com/shop/media/wysiwyg/EK-AIO-360.png" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= screen_path %>" class="coursemeal-info__link">6. EK Water Blocks EK-AIO Elite Aurum 360 D-RGB</a>
        <h2> Cliquez <a href="https://amzn.to/37knf4v" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>
</div>

<div class="demo coursemeal">

<!-- 6700-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/81No5bRrM3L._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/81No5bRrM3L._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/81No5bRrM3L._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/81No5bRrM3L._AC_SL1500_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestAIO_path %>" class="coursemeal-info__link">7. Seasonic PRIME TX-1000 Alimentation 80PLUS Titanium 1000 Watt  </a>
        <h2> Cliquez <a href="https://amzn.to/3kJSrNB" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3060 TI-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://dlcdnimgs.asus.com/websites/global/products/g2Pl47nZaToiPUKg/img/pic_FLEXIBLE_GRAPHICS_a.png">
        <source media="(min-width: 767px)" srcset="https://dlcdnimgs.asus.com/websites/global/products/g2Pl47nZaToiPUKg/img/pic_FLEXIBLE_GRAPHICS_a.png">
        <source srcset="https://dlcdnimgs.asus.com/websites/global/products/g2Pl47nZaToiPUKg/img/pic_FLEXIBLE_GRAPHICS_a.png">
        <img src="https://dlcdnimgs.asus.com/websites/global/products/g2Pl47nZaToiPUKg/img/pic_FLEXIBLE_GRAPHICS_a.png" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= bestNVME_path %>" class="coursemeal-info__link">8. ASUS ROG Strix Helios RGB Boîtier PC gaming </a>
        <h2> Cliquez <a href="https://amzn.to/3KP14kK" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 3060-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://d3isma7snj3lcx.cloudfront.net/images/deal/30/3050846423/le-ssd-seagate-firecuda-530-compatible-ps5-est-en-reduction-70f6f583.jpg">
        <source media="(min-width: 767px)" srcset="https://d3isma7snj3lcx.cloudfront.net/images/deal/30/3050846423/le-ssd-seagate-firecuda-530-compatible-ps5-est-en-reduction-70f6f583.jpg">
        <source srcset="https://d3isma7snj3lcx.cloudfront.net/images/deal/30/3050846423/le-ssd-seagate-firecuda-530-compatible-ps5-est-en-reduction-70f6f583.jpg">
        <img src="https://d3isma7snj3lcx.cloudfront.net/images/deal/30/3050846423/le-ssd-seagate-firecuda-530-compatible-ps5-est-en-reduction-70f6f583.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= bestWATT_path %>" class="coursemeal-info__link">9. Seagate FireCuda 530, 4 To, 7 300 Mo/s</a>
        <h2> Cliquez <a href="https://amzn.to/38aa6eT" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>

<div class="demo coursemeal">

<!-- 6600-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/71MSG+WhW0L._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/71MSG+WhW0L._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/71MSG+WhW0L._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/71MSG+WhW0L._AC_SL1500_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestbox_path %>" class="coursemeal-info__link">10. Logitech G PRO X SUPERLIGHT Souris Gaming sans Fil</a>
        <h2> Cliquez <a href="https://amzn.to/3wfj42C" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3050-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/91m+VXpcfmL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/91m+VXpcfmL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/91m+VXpcfmL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/91m+VXpcfmL._AC_SL1500_.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mouse_path %>" class="coursemeal-info__link">11. Corsair Hydro X Series iCUE XH305i RGB PRO Kit de refroidissement</a>
        <h2> Cliquez <a href="https://amzn.to/3LSTAP5" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 6500Clavier-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/71eY7u6HO9S._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/71eY7u6HO9S._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/71eY7u6HO9S._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/71eY7u6HO9S._AC_SL1500_.jpg2" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= keyboard_path %>" class="coursemeal-info__link">12. Logitech G915 TKL</a>
        <h2> Cliquez <a href="https://amzn.to/39vTPkE" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>

<div class="demo coursemeal">

<!-- 6600-->
<div class="coursemeal__div ">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/61UoB-NSiwL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/61UoB-NSiwL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/61UoB-NSiwL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/61UoB-NSiwL._AC_SL1500_.jpg" alt="Appetizer" >
    </picture>     
    
    <div class="coursemeal-info">
        <a href="<%= bestbox_path %>" class="coursemeal-info__link">13. ASTRO Gaming A50 Casque sans fil</a>
        <h2> Cliquez <a href="https://amzn.to/3OYnTpo" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href=""" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>
</div>

<!-- 3050-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/81EN7EsPbNL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/81EN7EsPbNL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/81EN7EsPbNL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/81EN7EsPbNL._AC_SL1500_.jpg2" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mouse_path %>" class="coursemeal-info__link">14. SCUF Manette sans fil </a>
        <h2> Cliquez <a href="https://amzn.to/3FlpVvc" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 6500Clavier-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="">
        <source media="(min-width: 767px)" srcset="">
        <source srcset="">
        <img src="" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= keyboard_path %>" class="coursemeal-info__link"></a>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>
</div>

