<div class="demo coursemeal">

<!-- 6900 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/510FrujvxYL._AC_SL1000_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/510FrujvxYL._AC_SL1000_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/510FrujvxYL._AC_SL1000_.jpg">
        <img src="https://m.media-amazon.com/images/I/510FrujvxYL._AC_SL1000_.jpg" alt="Main Course" >
    </picture> 
    
    <div class="coursemeal-info">          
        <a href="<%= best1440_path %>" class="coursemeal-info__link">1. BenQ ZOWIE XL2546K 24,5 240 Hz FHD DyAc+</a>
        <h2> Cliquez <a href="https://amzn.to/3FT23j2" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3yNHG5c" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3wpcM1F" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 6700 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/919FxR8xFaL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/919FxR8xFaL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/919FxR8xFaL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/919FxR8xFaL._AC_SL1500_.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mbIntel_path %>" class="coursemeal-info__link">2. ASUS ROG PG259QN <FONT COLOR="#ff0000">360Hz</FONT> 24,5 Fast IPS 1ms 1920x1080 </a>
        <h2> Cliquez <a href="https://amzn.to/3M0kvbP" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3vWPkZ8" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 3090-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/51ZSIBkaviL._AC_SL1400_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/51ZSIBkaviL._AC_SL1400_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/51ZSIBkaviL._AC_SL1400_.jpg">
        <img src="https://m.media-amazon.com/images/I/51ZSIBkaviL._AC_SL1400_.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= best1080_path %>" class="coursemeal-info__link">3.BenQ ZOWIE XL2746S 240 Hz 27 1080p DyAc+  |</a>
        <h2> Cliquez <a href="https://amzn.to/3MoroUr" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>

</div>    

<div class="demo coursemeal">
<!-- 6700 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/71Ee0HErUJS._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/71Ee0HErUJS._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/71Ee0HErUJS._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/71Ee0HErUJS._AC_SL1500_.jpg" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mbIntel_path %>" class="coursemeal-info__link">4. Acer Nitro XV252QFbmiiprx 24.5 IPS Full-HD 390Hz </a>
        <h2> Cliquez <a href="https://amzn.to/3liwTrM" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3yK9OWM" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 3090-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/619jKF+GeZL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/619jKF+GeZL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/619jKF+GeZL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/619jKF+GeZL._AC_SL1500_.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= best1080_path %>" class="coursemeal-info__link">1.Acer Predator X25 24.5 1920 x 1080 360HZ  |</a>
        <h2> Cliquez <a href="https://amzn.to/3FVBU34" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3wypPg2" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>

<!-- 6900 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/71FhPWpt-sL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/71FhPWpt-sL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/71FhPWpt-sL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/71FhPWpt-sL._AC_SL1500_.jpg" alt="Main Course" >
    </picture> 
    
    <div class="coursemeal-info">          
        <a href="<%= best1440_path %>" class="coursemeal-info__link">2. Alienware AW2521H 24,5 1920x1080 360hz IPS </a>
        <h2> Cliquez <a href="https://amzn.to/37Va7Df" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3yNHG5c" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3wpcM1F" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>


</div>    



